{% extends "layout.html" %}

{% block pageTitle %}
How do you want to send your proof of local residency?
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}

{% endblock %}

{% block content %}
<form id="form" method="post" action="lrdsPost">

  <div class="govuk-width-container ">
        
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
      

 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-panel govuk-panel--interruption">
      
        <fieldset class="govuk-fieldset" aria-describedby="start_new_claim">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-l">
                Your account is not active yet
              </h1>
            </legend>

  
         <p class="govuk-body">
          Once we've received your documents, they will take up to 5 days to get approved. 
         </p>
         <p class="govuk-body">
          Your account will be active once your local resident discount is approved and activated.
         </p>

         

         <h2 class="govuk-heading-m">
          Dart Charge contact centre
         </h2>

         <ul class="govuk-list">
          <li>
            Telephone: 0300 300 0120

          </li>
          <li>
            Textphone: 18001 0300 300 0120
          </li>
          <li>
            Every day, 8am to 8pm
          </li>
          <li>
            <a href="#" class="govuk-link">Find out about call charges</a>
          </li>
         </ul>

        </fieldset>

    </div>

 
 
    </main>
  </div>
</form>
{% endblock %}
