{% extends "layout.html" %}

{% block pageTitle %}
Payment details
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{{ govukBreadcrumbs({
   items: [
     {
       text: "Account summary",
       href: "../dashboard-summary"
     },
     {
       text: "Account management",
       href: "../my-profile/profile-summary"
     },
     {
       text: "Payment",
       href: "#"
     },
     {
       text: "New payment card",
       href: "#"
     }
   ]
 }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-top-6">
 <div class="govuk-grid-column-full">
   
         <h1 class="govuk-heading-l">
          Complete your Direct Debit details
         </h1>
         <div class="govuk-form-group">
      
            <p class="govuk-body">
               Third party DD screen
            </p>
               {{ govukButton({
                  text: "Continue",
                  href: ""
               }) }}
         </div>
     </form>
   </div>
</div>
{% endblock %}
