{% extends "layout-dashboard.html" %}

{% block pageTitle %}
  Account summary - Business
{% endblock %}

{% block beforeContent %}
{% include "includes/alpha-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}


<!--main body starts-->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "File upload complete",
        html: "Your vehicles have been uploaded"
      }) }}

      <p class="govuk-body">We have sent you a confirmation email to jondoe@fleetmail.com</p>

      <h2 class="govuk-heading-l">Records updated</h2>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
          <h2 class="govuk-heading-m">
            Text needed for this section..
          </h2>
        </div>
      </div>

     
      

      <p class="govuk-body">
        <a href="#" class="govuk-link">Upload another file</a> <br><br><a href="#" class="govuk-link">Back to vehicle management</a>
      </p>
    </div>
  </div>
{% endblock %}
<!--main body ends-->