{% extends "layout.html" %}

{% block pageTitle %}
Enter your postcode
{% endblock %}


{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="personal-details" method="post">
      
       <h1 class="govuk-heading-l">
        Choose your type of enquiry
       </h1>
       {{ govukRadios({
        idPrefix: "query",
        name: "query",
        
        items: [
        {
          value: "Accessibility",
          text: "Accessibility"
        },  
        {
            value: "Account management",
            text: "Account management"
          },
          {
            value: "Data request",
            text: "Data request"
          },
          {
            value: "Paying the Dart Charge",
            text: "Paying the Dart Charge"
          },  
          {
              value: "Refund",
              text: "Refund"
            },  
            {
                value: "Using the website",
                text: "Using the website"
              },
              {
                divider: "or"
              },
              {
                value: "None of these",
                text: "None of these"
              }
        ]
       }) }}
       {{ govukButton({
        text: "Continue"
       }) }}
    </form>
    </div>
  </div>

{% endblock %}
