{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
  {% include "includes/back-link.html" %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

 

  <form class="form" method="post" action="landing-page">
    <fieldset class="govuk-fieldset govuk-!-margin-top-3" aria-describedby="sign-in-hint">
    {{ govukRadios({
      idPrefix: "landing",
      name: "landing",
      fieldset: {
        legend: {
          text: "What would you like to do?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
     
      items: [
      {
        value: "create-account",
        html: "<b>Sign in or set up a Dart Charge account</b>",
        hint: {
          html: "With an account, you can either:
          <ul class='govuk-hint govuk-list govuk-list--bullet'>
            <li>pay as you go, with payments taken automatically</li>
            <li>pre-pay, and get a discount of up to 20%</li>
            <li> get a local resident discount if you live in Dartford or Thurrock</li>
          </ul>"
        }
      },
        {
          value: "one-off-payment",
          html: "<b>Pay for crossings without an account</b>",
          hint: {
            html: "
        You can:
        <ul class='govuk-hint govuk-list govuk-list--bullet'>
          <li>pay for crossings you’ve made since yesterday</li>
          <li>pay for future crossings</li>
        </ul>"
          }
        },
        {
          value: "resolve-pcn",
          html: "<b>Resolve a penalty charge notice (PCN)</b>",
          hint: {
            html: " You can:
            <ul class='govuk-hint govuk-list govuk-list--bullet'>
              <li>pay a penalty charge</li>
              <li>challenge a PCN</li>
            </ul>"
          }
        }
      ]
    }) }}



  
    

  </fieldset>
<br><br>
  <button class="govuk-button" data-module="govuk-button">Continue</button>
  </form>
  </div>

</div>

{% endblock %}
