{% extends "layout-dashboard.html" %}

{% block pageTitle %}
  Account summary - Business
{% endblock %}

{% block beforeContent %}
  
{% include "includes/alpha-banner.html" %}
{% endblock %}


<!--main body starts-->
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  {% block pageHeaderContent %}
    {% include "includes/v1/accounts/business/page-header.html" %}
  {% endblock %}


  
  {% block balanceContent %}
    {% include "includes/v1/accounts/business/balance-and-top-up.html" %}
  {% endblock %}

  {% block accountTypeContent %}
  {% include "includes/v1/accounts/business/account-type.html" %}
{% endblock %}
  
  {% block notificationContent %}
  {% include "includes/v1/accounts/business/notification.html" %}
{% endblock %}

 



{% block crossingTableContent %}
  {% include "includes/v2/accounts/business/crossing-table.html" %}
{% endblock %}
{% block vehiclesAndSavingsContent %}
  {% include "includes/v2/accounts/business/vehicles_and_savings.html" %}
{% endblock %}

</div>
</div>
{% endblock %}
<!--main body ends-->