{% extends "layout.html" %}

{% block pageTitle %}
Your account has been created
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
<br><br>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



<div class="govuk-grid-row">
 
              <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                  Vehicle removed
                </h1>
              </div>  
             
            <p>We’ve sent a confirmation email to [email address]</p>
           
            
              <h2 class="govuk-heading-m">
                What happens next
              </h2>

       
            

            <p class="govuk-body">
              You can leave your account open and add a new vehicle when you’re ready, or you can <a href="#" class="govuk-link">close your account</a>.
            </p>
         
    
             
</div>




  

{% endblock %}
