{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Check your answers before making a payment</h1>

      
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Personal details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First Name
          </dt>
          <dd class="govuk-summary-list__value">
            Bert
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden">full name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last Name
          </dt>
          <dd class="govuk-summary-list__value">
            Smith
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden">full name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            Waterside house<br>
            Streetsville<br>
            Townsville<br>
            DG12 5TG
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            email@email.com
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mobile phone number
          </dt>
          <dd class="govuk-summary-list__value">
            07458 888999
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> mobile phone number</span>
            </a>
          </dd>
        </div>
</dl>
<h2 class="govuk-heading-m govuk-!-margin-top-9">Account details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of account
          </dt>
          <dd class="govuk-summary-list__value">
            Business
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden">full name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Monthly accounts by post
          </dt>
          <dd class="govuk-summary-list__value">
            No
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden">full name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mobile notifications
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden">full name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            2 step verification
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
       
       
</dl>
<h2 class="govuk-heading-m govuk-!-margin-top-9">Vehicle details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Number plate - Vehicle 1
            </dt>
            <dd class="govuk-summary-list__value">
              LO62 4RT
            </dd>
       
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number plate - Vehicle 2
          </dt>
          <dd class="govuk-summary-list__value">
         GF65 3EE 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden">top-up method</span>
            </a>
          </dd>
        </div> 
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Vehicle type
          </dt>
          <dd class="govuk-summary-list__value">
        Car 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden">top-up method</span>
            </a>
          </dd>
        </div> 
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Make
          </dt>
          <dd class="govuk-summary-list__value">
         BMW 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden">top-up method</span>
            </a>
          </dd>
        </div> 
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Model
          </dt>
          <dd class="govuk-summary-list__value">
         M3 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden">top-up method</span>
            </a>
          </dd>
        </div> 
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Colour
          </dt>
          <dd class="govuk-summary-list__value">
         Grey
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden">top-up method</span>
            </a>
          </dd>
        </div> 
</dl>
</div>
</div>
            

            
           
            

            
             <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">

                {{ govukCheckboxes({
                  idPrefix: "termsandconditions",
                  name: "termsandconditions",
                 
                  items: [
                    {
                      value: "Value",
                      html: "I accept the <a href='#' class='govuk-link'>terms and conditions (opens in a new tab)</a>"
                    }
                  ]
                 }) }}
                {{ govukButton({
                  text: "Continue",
                  href: "./payment3a"
                }) }}
  </div>
</div>

             


            

  </div>
</div>

      </form>
    </div>
  </div>
{% endblock %}
