// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import ".tmp/sass/extensions";

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/task-list";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


[aria-sort] button, [aria-sort] button:hover {
    background-color: transparent;
    border-width: 0;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    color: #005ea5;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0 10px 0 0;
    position: relative;
    text-align: inherit;
    font-size: 1em;
    margin: 0;
}

[aria-sort] button:before {
    content: " ▼";
    position: absolute;
    right: -1px;
    top: 9px;
    font-size: .5em;
}
[aria-sort] button:after {
    content: " ▲";
    position: absolute;
    right: -1px;
    top: 1px;
    font-size: .5em;
}

[aria-sort=ascending] button:after {
    content: " ▲";
    font-size: .8em;
    position: absolute;
    right: -5px;
    top: 2px;
}
[aria-sort=descending] button:after {
    content: " ▼";
    font-size: .8em;
    position: absolute;
    right: -5px;
    top: 2px;
}

.neg3{margin-top:govuk-spacing(-9)!important;position:relative;top:-20px;}
.whitea{color: #fff !important;}
.error-table{border-left: 5px solid #d4351c;padding-left:15px;}
.govuk-panel--interruption white{color: #fff !important;;}
.white-border{font-size:20pt; border-color:#fff!important;}
.password{-webkit-text-security: disc !important;
    padding: 1px 2px;}

    .govuk-panel--informational {
        background-color: $govuk-brand-colour;
        color: govuk-colour("white");
        margin-bottom: govuk-spacing(7);
      }
      
      .govuk-panel--small {
        text-align: left;
        padding: govuk-spacing(3) - $govuk-border-width;
        margin-bottom: govuk-spacing(5);
      
        .govuk-panel__title {
          @include govuk-font($size: 19, $weight: bold);
          margin-bottom: 0;
        }
      
        .govuk-panel__body {
          @include govuk-font($size: 19);
          margin: 0;
        }
      }
      
      .govuk-panel--interruption {
        background-color: $govuk-brand-colour;
        text-align: left;
      
        * {
          color: govuk-colour("white");
        }
      
        .govuk-radios__label::before,
        & ::after {
          color: govuk-colour("black");
          border-color: govuk-colour("black");
          background-color: govuk-colour("white");
        }
      
        .govuk-list--definition {
          dt,
          dd {
            color: govuk-colour("blue");
          }
        }
      
        .govuk-button,
        .govuk-button:disabled:hover {
          color: govuk-colour("black");
          background-color: govuk-colour("white");
          box-shadow: 0 2px 0 govuk-colour("dark-blue");
        }
      
        .govuk-button:hover {
          background-color: govuk-colour("light-grey");
        }
      }

.summaryContainer{border:1pt solid 	#b1b4b6;margin:10px 0px;min-height:230px;}      
.summaryHeader{background-color:#f3f2f1;padding:10px 5%;width:90%;}
.summaryDetail{padding:10px 5%;width:90%;background-color:#fff;}
.four{max-width: 3.3em!important;}
.card-img-new{margin:0px 0px 0px 10px;position:absolute}
.horimove{position:relative;top:37px;right:-10px;}
.right-align{float:right;position:relative;top:30px;}
.payList li{border:1pt solid #b1b4b6;padding:20px 10px 10px 20px;margin:0px 30% 20px 0px;background-color:#f3f2f1;}
.modalframe{position:absolute;width:100%;height:100%;background-color:rgba(0,0,0,0.8);left:0px;top:0px;}

.centre_container{margin:30% 30% 0px 30%;background-color:#fff;padding:30px}