{% extends "layout.html" %}

{% block pageTitle %}
Select LRDS
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<form id="form" method="post" action="">

  <div class="govuk-width-container ">
        
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
      

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">
    You're entitled to a discount of £{x}
  </h1>

  <p class="govuk-body">
    You recently topped up your account with £5. We'll deduct the remaining £{x} from this transaction.
  </p>
  
{{ govukButton({
  text: "Continue",
  href: "lrdsSelect"
}) }}
  
 
 
    </main>
  </div>
</form>
{% endblock %}
