{% extends "layout.html" %}

{% block pageTitle %}
Pay for recent crossings
{% endblock %}


{% block beforeContent %}
{% include "includes/alpha-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}


<style>
     .gem-c-contextual-sidebar__brexit-cta {text-size-adjust: 100%;
    font-family: "GDS Transport",arial,sans-serif;
    margin-bottom: 30px;
    background-color: #f3f2f1;
    border-top: 2px solid #282538;
    display: block;
    padding: 0 15px 15px;
    text-decoration: none;}
</style>
<form class="form" method="post" action="additional-credit-question">
<div class="govuk-grid-row">
  

  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1">
    
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Pay for recent crossings</h1>
    <div class="govuk-body govuk-!-margin-top-0">
      Here are the details of the crossings made yesterday and today.
    </div>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Vehicle Registration (number plate)</th>
          <th scope="col" class="govuk-table__header">Crossings made</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{data['vrn']}}</td>
          <td class="govuk-table__cell">{{data['kros']}}</td>
        </tr>
      </tbody>
    </table>

    <div class="govuk-inset-text govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-!-margin-top-0 govuk-!-margin-bottom-5">
      <h3 class="govuk-body-xl govuk-!-margin-top-0 govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-!-margin-bottom-0">Payment amount</h3>
      <h1 id = "charge" class="govuk-body-xl govuk-!-margin-bottom-0 govuk-!-padding-bottom-0 govuk-!-padding-top-0 govuk-!-margin-top-0">£{{((data['krosCount']*2.50)|float).toFixed(2)}}</h1>
    </div>
    {{ govukSelect({
      id: "quantity-of-journeys",
      name: "quantity-of-journeys",
      label: {
        html: "<b>Confirm number of crossings to pay for</b>"
      },
      hint: {
        text: "Hint text"
      },
      items: [
        {
          value: "1",
          text: "1"
        },
        {
          value: "2",
          text: "2"
        },
        {
          value: "3",
          text: "3",
          selected: "true"
        }
      ]
    }) }}
    
    <details class="govuk-details " data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
         Is there a crossing missing?
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>
            a crossing is a single journey over the bridge or through the tunnel
          </li>
          <li>
            a return trip is 2 crossings
          </li>
          <li>
            late payments will be used for future crossings - you may receive a PCN for any late payment
          </li>
          <li>
            it costs <b>£2.50 per crossing</b> for a car
          </li>
        </ul>
      </div>
    </details>

    
    <div class="govuk-button-group">
      
    <button  id="confirmPay"  class="govuk-button" data-module="govuk-button">
      Continue
    </button>
   
  </div>
  </div>
  

</div>

  
    
   
  </div>
</div> 
</div>
</form>

{% endblock %}
