{% extends "modal_layout.html" %}

{% block pageTitle %}
You’ve signed out of your account - Pay the Dartford Crossing charge - GOV.UK
{% endblock %}


{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Example H1
    </h1>
    <p class="govuk-body">
      This is just placeholder text, please ignore and look at the modal.
    </p>
    </div>
  </div>

{% endblock %}
