{% extends "../../layout-dash-acc-man.html" %}

{% block pageTitle %}
Create a password
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Account summary",
      href: "#"
    },
    {
      text: "Account management",
      href: "#"
    },
    {
      text: "My profile",
      href: "#"
    },
    {
      text: "Change your password",
      href: "#"
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="form" method="post" action="password-change-confirmation">
        
          <fieldset class="govuk-fieldset">
            <h1 class="govuk-heading-l">Change your password</h1>

            <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="mobile" method="post">
          {{ govukInput({
            label: {
                html: "<b>Current password</b>"
            },
            id: "register-confirm-password",
            name: "register-confirm-password",
            classes: "govuk-!-width-two-thirds",
            type: "password"
              }) }}
                  
               
             <p class="govuk-body">
              Your password must:
             <p>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  be at least 8 characters long
                </li>
                <li>
                  contain at least one upper case letter (A-Z)
                </li>
                <li>
                  contain at least one lower case letter (a-z)
                </li>
                <li>
                  contain at least one number (0-9)
                </li>
               <!-- <li>
                  contain at least one special character
                </li> -->
              </ul>
                {{ govukInput({
                    label: {
                        html: "<b>Enter new password</b>"
                    },
                    id: "register-password",
                    name: "register-password",
                    classes: "govuk-!-width-two-thirds",
                    type: "password"
                }) }}

                {{ govukInput({
                    label: {
                      html: "<b>Confirm new password</b>"
                    },
                    id: "register-confirm-password",
                    name: "register-confirm-password",
                    classes: "govuk-!-width-two-thirds",
                    type: "password"
                }) }}


              

                {{ govukButton({
                    text: "Continue"
                }) }}

      </form>

    </div>
  </div>

{% endblock %}
