{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before making a payment</h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['first-name']}} {{ data['last-name']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden">full name</span>
            </a>
          </dd>
        </div>
       
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['select-address']}}
            <br>{{data['address-postcode']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['email']}}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>

        



        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Notifications
            </dt>
            <dd class="govuk-summary-list__value">
                {{data['comms-pref']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
                <span class="govuk-visually-hidden">SMS</span>
              </a>
            </dd>
          </div>


          {% if data['account-type'] === 'Business' %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Vehicles on fleet
            </dt>
            <dd class="govuk-summary-list__value">
                {{data['vehicles-on-fleet']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
                <span class="govuk-visually-hidden">vehicles on fleet</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Low balance limit
            </dt>
            <dd class="govuk-summary-list__value">
                £{{data['low-balance']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
                <span class="govuk-visually-hidden">low balance limit</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Top-up amount
            </dt>
            <dd class="govuk-summary-list__value">
                £{{data['topup']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
                <span class="govuk-visually-hidden">low balance limit</span>
              </a>
            </dd>
          </div>

            {% else %}
            <!--content here-->
            {% endif %}


      </dl>
      <h2 class="govuk-heading-m">Vehicle 1</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number plate
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['vrn']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden">full name</span>
            </a>
          </dd>
        </div>
       
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Account payment type
          </dt>
          <dd class="govuk-summary-list__value">
            LRDS
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Vehicle 2</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number plate
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['vrn-two']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden">full name</span>
            </a>
          </dd>
        </div>
       
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Account payment type
          </dt>
          <dd class="govuk-summary-list__value">
            Pre-pay
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
      </dl>
       
     
    <button onClick="location.href='./payment3a'" id="confirmPay"  class="govuk-button" data-module="govuk-button">
      Confirm and pay
    </button>
  </div>
</div>

      </form>
    </div>
  </div>
{% endblock %}
