{% extends "layout.html" %}

{% block pageTitle %}
  Check for paid crossings
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
  {% include "includes/back-link.html" %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

 

  <form class="form" method="post" action="crossing-info">


    

    
    <h1 class="govuk-heading-l">
      Provide your debit card details
    </h1>

   

    
    {% set emailHtml %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        
    
        <div class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">
          Enter the card security code
      </div>
      <div class="govuk-caption-m govuk-!-margin-bottom-2">
          The last 3 or 4 digits on the back of the card
      </div>
    
      <div style="display: flex;">
          <div class="govuk-form-group">
              <input class="govuk-input govuk-input--width-3" id="cvv" name="cvv" type="text"
                  aria-required="true" aria-label="Enter the card holder name"  />
          </div>
          <div class="govuk-!-margin-left-3"><img src="/public/images/cvv.png"  width="64px" alt="cvv" /></div>
        </div> 
        {{ govukCheckboxes({
          idPrefix: "termsandconditions",
          name: "termsandconditions",
         
          items: [
            {
              value: "Value",
              html: "Make this my default payment method"
            }
          ]
         }) }}<br>
       </div>
       </div>
    {% endset -%}



{{ govukRadios({
  idPrefix: "new-or-existing-card",
  name: "new-or-existing-card",
  fieldset: {
    legend: {
      text: "Which card do you want to use on your account?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
 
  items: [
    {
      value: "Value",
      conditional: {
        html: emailHtml
      },
      html: 
      "
      <p class='govuk-body govuk-!-margin-bottom-6'>
        Your existing card - Mastercard **** 4563 <img class='card-img-new' src='/public/images/mastercard.png'  width='40px' alt='payment' />
      </p>
      "
    },
    {
      value: "Value",
      text: "Add a new card"
    }
  ]
}) }}



   

  </form>
  </div>

</div>

{% endblock %}
