{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before making a payment</h1>

      <h2 class="govuk-heading-m">Account details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
       
       
       


        
       

        {% if data['address-postcode'] === 'DA1 1DY' %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Local resident discount scheme type
          </dt>
          <dd class="govuk-summary-list__value">
         {{data['lrdsSelect']}} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden">top-up method</span>
            </a>
          </dd>
        </div>

        {% else %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Account type
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['paygtopup']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden">top-up method</span>
            </a>
          </dd>
        </div>
        {% endif %}



        
          

           
<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-full">
    {{ govukButton({
      text: "Continue",
      href: "vrm-added-confirmation"
     }) }}
  </div>
</div>

             


            
  </div>
</div>

      </form>
    </div>
  </div>
{% endblock %}
