{% extends "layout-dash-acc-man.html" %}

{% block pageTitle %}
Enter the SMS code
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html" %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Account summary",
        href: "#"
      },
      {
        text: "Account management",
        href: "#"
      },
      {
        text: "My profile",
        href: "#"
      },
      {
        text: "Verify mobile",
        href: "#"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form class="form" action="mobile-change-confirmation" method="post">
        
      <h1 class="govuk-heading-l">Check your phone for a security code</h1>
      

        <div class="govuk-inset-text">
          We've sent a text message to
          {{ data['phone-number']}}
        </div>

      

     <p class="govuk-body">
      Check your message for a 4-digit security code. This code will expire after 15 minutes.
     <p>
       <p class="govuk-body">
        Your text message might take a few minutes to arrive.
       <p>
        <form action="profile" method="post">

            <div class="govuk-form-group govuk-!-margin-top-6">

              <label class="govuk-label" for="">
                Enter the 4-digit security code
              </label>
        <input class="govuk-input govuk-input--width-4" id="security-code" name="security-code" type="text">
        </div>
        {{ govukButton({
        text: "Continue"
        }) }}
<!--<button class="govuk-button" data-module="govuk-button">Verify email</button>
-->
  <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I do not have a security code
          </span>
        </summary>
        <div class="govuk-details__text">
          Details component body: If you did not get a code, or it is not working, you can
          <a href='#'>request a new code</a>.

        </div>
      </details>




      </form>

    </div>
  </div>

{% endblock %}
