{% extends "layout.html" %}

{% block pageTitle %}
How do you want to send your proof of local residency?
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}

{% endblock %}

{% block content %}
<form id="form" method="post" action="lrdsPost">

  <div class="govuk-width-container ">
        
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
      

 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--interruption">
      
        <fieldset class="govuk-fieldset" aria-describedby="start_new_claim">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-l">
                Your account has been suspended
              </h1>
            </legend>

  
            <p class="govuk-body">
              You do not have enough credit to make a crossing.
             </p>
    
         
          <div class="govuk-radios govuk-!-margin-bottom-9 govuk-!-margin-top-9">
            <div class="govuk-radios__item">
             {{ govukRadios({
              idPrefix: "processTasks",
              name: "processTasks",
              fieldset: {
                legend: {
                  text: "Do you want to top up your credit now?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--m"
                }
              },
             
              items: [
                {
                  value: "yes",
                  text: "Yes, lets do it"
                },
                {
                  value: "no",
                  text: "No, I'll do it later"
                }
              ]
             }) }}
            </div>
            <div class="govuk-radios__item">
              {{ govukButton({
                text: "Continue",
                href: "lrdsdocumenttask"
              }) }}
            </div>
          </div>

        </fieldset>

    </div>

 
 
    </main>
  </div>
</form>
{% endblock %}
