{% extends "layout.html" %}

{% block pageTitle %}
  Check for paid crossings
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
 

{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Vehicle changed",
        html: ""
      }) }}

     

      <table class="govuk-table">
        
        
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Vehicle Registration (number plate)</th>
            <td class="govuk-table__cell">{{data['new-vrn']}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Crossings remaining</th>
            <td class="govuk-table__cell">4</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Expiry date</th>
            <td class="govuk-table__cell">6 Aug 2023</td>
          </tr>
        </tbody>
      </table>

     <p class="govuk-body">
      <a href="crossing-info" class="govuk-link">Back to crossing details</a> 
     </p>

      
    </div>
  </div>
{% endblock %}