{% extends "layout.html" %}

{% block pageTitle %}
Step 3 - Your vehicle
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}











 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
          <h1 class="govuk-heading-l">Number of vehicles</h1>


            <form class="form" method="post" action="guidance-based-upon-vehicles-in-fleet">

              <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">
                      <p class="govuk-body">
                        yet to be designed
                      <p>

        <button class="govuk-button" data-module="govuk-button">Continue</button>
      
      </form>

    </div>
  </div>
  

  




{% endblock %}
