{% extends "layout.html" %}

{% block pageTitle %}
Step 3 - Your vehicle
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}











 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
            <form class="form" method="post" action="number-of-vehicles-guidance">

              <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">

                    {% set fleetHtml %}
                    {{ govukInput({
                      id: "numberinFleet",
                      name: "numberinFleet",
                      type: "number",
                      classes: "govuk-!-width-one-third",
                      label: {
                        text: "How many vehicles do you have in your fleet?"
                      }
                    }) }}
                    {% endset -%}


                      {{ govukRadios({
                        idPrefix: "vehiclesInFleet",
                        name: "vehiclesInFleet",
                        fieldset: {
                          legend: {
                            text: "Do you know how many vehicles in your fleet?",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                          }
                        },
                        hint: {
                          text: "Hint text"
                        },
                        items: [
                          {
                            value: "Yes",
                            text: "Yes",
                            conditional: {
                              html: fleetHtml
                            }
                          },
                          {
                            value: "No",
                            text: "No"
                          }
                        ]
                      }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>
      
      </form>

    </div>
  </div>
  

  




{% endblock %}
