{% extends "layout.html" %}

{% block pageTitle %}
What is the number plate of your vehicle?
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

{% if data['account-type'] === 'Personal' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   
      <fieldset class="govuk-fieldset">
        <h2 class="govuk-heading-l">What is the number plate of your vehicle?</h2>
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          </legend>
          <form action="confirm-vehicle" method="post">
            
        

          <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="vrn">
                  Number plate</label>
                </h1>
                   <div id="event-name-hint" class="govuk-hint">For example, CU57ABC<div>
              <input class="govuk-input govuk-input--width-10" id="vrn" name="vrn" type="text">
          </div>

<!--
          <label class="govuk-label govuk-label" for="registration-number">
            number plate
<br>For example, CU57ABC
          </label>
        </h3>
        <input class="govuk-input govuk-input--width-10" id="registration-number" name="vehicle-registration" value="{{ data['vehicle-registration'] }}" type="text">
     </div>

    <p>You can add more vehicles once your account has been created.</p>--> 
</div>
      <button class="govuk-button" data-module="govuk-button">Continue</button>


</form>

  </div>
</div>

 {% else %}
 <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   
      <fieldset class="govuk-fieldset">
        <h2 class="govuk-heading-l">What is the number plate of your first vehicle?</h2>
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          </legend>
          <form action="confirm-vehicle" method="post">
            
        

          <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="vrn">
                  Number plate</label>
                </h1>
                   <div id="event-name-hint" class="govuk-hint">For example, CU57ABC<div>
              <input class="govuk-input govuk-input--width-10" id="vrn" name="vrn" type="text">
          </div>
    </div>
      <button class="govuk-button" data-module="govuk-button">Continue</button>


</form>

  </div>
</div>
{% endif %}


  
{% endblock %}
