{% extends "layout.html" %}

{% block pageTitle %}
Your account has been created
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
<br><br>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



<div class="govuk-grid-row">
  {% if data['lrdsTopUp'] === '5'  %}

          
              <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                  Application submitted 5
                </h1>
              </div>  
             
            <p>We’ve sent a confirmation email with your account details to  {{ data['email']}}</p>
            <h2 class="govuk-heading-m">
              Your payment
            </h2>
            <p class="govuk-body">
              Your payment reference is 34562345. You’ll receive the digital receipt for this payment separately.
            <p>
            
              <h2 class="govuk-heading-m">
                What happens next
              </h2>

        <div class='govuk-grid-column-full'>
            {{ govukInsetText({
              classes:"govuk-!-margin-top-1",
              text: "Your account is not active yet. Your proof of local residency documents will take up to 5 days to get approved. "
            }) }}

            <p class="govuk-body">
              We’ll let you know once your local resident discount is activated. Until then, you’ll need to pay standard rates for your crossings.
            </p>
          </div>
    {% else %}
          <!--no content shown-->
    {% endif %}


    {% if data['lrdsTopUp'] === '10'  %}

                  <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                      Application submitted 10
                    </h1>
                  </div>
              <p>We’ve sent a confirmation email with your account details to  {{ data['email']}}</p>

              <h2 class="govuk-heading-m">
                Your payment
              </h2>
              <p>Your payment reference is 34562345. You’ll receive the digital receipt for this payment separately.</p>
              <h2 class="govuk-heading-m">
                What happens next
              </h2>
              
                <div class='govuk-grid-column-full'>
                  {{ govukInsetText({
                    classes:"govuk-!-margin-top-1",
                    text: "Your account is not active yet. You must still upload your proof of local residency documents. Once we've received all these documents, they will take up to 5 days to get approved. "
                  }) }}
                 
                

            {{ govukDetails({
              summaryText: "What documents to upload",
              html: 
              "
              <div class='govuk-grid-column-full'>
                
             
                <p class='govuk-body'>
                  You need to send: 
                <p>
                  <ul class=1govuk-list govuk-list--number1>
    
                    <li>
                      your vehicle V5C log book
                    </li>
                    <li>
                      one of the following:
                      <ul class='govuk-list govuk-list--bullet govuk-!-margin-bottom-9'>
                        <li>
                          a recent bank or credit card statement
                        </li>
                        <li>
                          a recent utility bill (gas, electric or water only)
                        </li>
                        <li>
                          your most recent council tax bill
                        </li>
                        <li>
                          an Income Support or housing association rent document
                        </li>
                        <li>
                          your driving licence (photo card only)
                        </li>
                      </ul>
                    </li>
                  </ul>
              </div>
              "
            }) }}
            <p class="govuk-body">
              We’ll let you know once your local resident discount is activated. Until then, you’ll need to pay standard rates for your crossings.
            <p>
              <p class="govuk-body"> <a href="#" class="govuk-link">Upload your documents now</a>.</p>
              <p class="govuk-body">
                You can also log in to your account to upload your documents later.
              <p>
    </div>
    <!--content here-->

    {% else %}
     <!--no content here-->
    {% endif %}
             
</div>




  

{% endblock %}
