{% extends "layout-dashboard.html" %}

{% block pageTitle %}
  Account summary - Business
{% endblock %}

{% block beforeContent %}
{% include "includes/alpha-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}


<!--main body starts-->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}


{% if data['vehicle-upload'] === 'Bulk upload' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    

    <p class="govuk-body">We have sent you a confirmation email to jondoe@fleetmail.com</p>

    <h2 class="govuk-heading-l">What happens next</h2>

   
      
    <p class="govuk-body">
      Your vehicle records have been updated. If you want to add or update more vehicles, you can <a href="bulk-upload-start" class="govuk-link">upload another file</a>.
    <p>
    <p class="govuk-body">
      <a href="#" class="govuk-link">Back to vehicle management</a>
     
  <p class="govuk-body">
    <a href="#" class="govuk-link">What do you think of this service?</a> (takes 30 seconds)
  <p>        
    </p>

    {{ govukButton({
      text: "Continue",
      href: "../../create-account/number-of-vehicles"
    }) }}

  </div>
</div>

 {% else %}
 <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: "File upload complete",
      html: "Your vehicles have been uploaded"
    }) }}

    <p class="govuk-body">We have sent you a confirmation email to jondoe@fleetmail.com</p>

    <h2 class="govuk-heading-l">What happens next</h2>

   
      
    <p class="govuk-body">
      Your vehicle records have been updated. If you want to add or update more vehicles, you can <a href="bulk-upload-start" class="govuk-link">upload another file</a>.
    <p>
    <p class="govuk-body">
      <a href="#" class="govuk-link">Back to vehicle management</a>
     
  <p class="govuk-body">
    <a href="#" class="govuk-link">What do you think of this service?</a> (takes 30 seconds)
  <p>        
    </p>
  </div>
</div>
{% endif %}



  
{% endblock %}
<!--main body ends-->