{% extends "layout-dashboard.html" %}

{% block pageTitle %}
  Account summary - Business
{% endblock %}

{% block beforeContent %}
{% include "includes/alpha-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}


<!--main body starts-->
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "Correct the errors and upload the file again",
          href: "#table-error"
        }
      ]
    }) }}


    <h1 class="govuk-heading-l">
      Your CSV file has the following errors
    </h1>
  

    {{ govukWarningText({
      text: "The file could not be uploaded because it contains errors. no records have been uploaded",
      iconFallbackText: "Fallback text"
    }) }}

<div class="error-table">
  <p id="table-error" class="govuk-error-message govuk-!-font-size-24">
    <span class="govuk-visually-hidden">Error:</span> Correct the errors and upload the file again
  </p>
   

<!--accordion starts-->

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Vehicle not found in DVLA database
          <p class="govuk-body">
            12 records affected
          <p>
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <!--accordion content starts-->
      {% block crossingTwelveErrors %}
         {% include "includes/v3/bulk-upload/twelve-errors.html" %}
      {% endblock %}
      <!--accordioncontent ends-->
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Vehicle class change not allowed
          <p class="govuk-body">
            12 records affected
          <p>
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <p class='govuk-body'>No records to correct</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Not enough information provided
          <p class="govuk-body">
            333 records affected
          <p>
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
      <!--accordion content starts-->
      {% block crossingthreethreethreeErrors %}
         {% include "includes/v3/bulk-upload/three-three-three-errors.html" %}
      {% endblock %}
      <!--accordioncontent ends-->
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Information not readable
          <p class="govuk-body">
            12 records affected
          <p>
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
      <!--accordion content starts-->
      {% block crossingTwelveErrorsAgain %}
         {% include "includes/v3/bulk-upload/twelve-errors.html" %}
      {% endblock %}
      <!--accordioncontent ends-->
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Duplicate records within file
          <p class="govuk-body">
            12 records affected
          <p>
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
       <!--accordion content starts-->
       {% block duplicateTwelveErrorsAgain %}
       {% include "includes/v3/bulk-upload/twelve-errors.html" %}
    {% endblock %}
    <!--accordioncontent ends-->
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Duplicate record on account
          <p class="govuk-body">
            12 records affected
          <p>
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
      <!--accordion content starts-->
      {% block duplicateRecordTwelveErrorsAgain %}
         {% include "includes/v3/bulk-upload/twelve-errors.html" %}
      {% endblock %}
      <!--accordioncontent ends-->
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          VRM on another account
          <p class="govuk-body">
            2 records affected
          <p>
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
      <!--accordion content starts-->
      {% block twoErrorsAgain %}
         {% include "includes/v3/bulk-upload/two-errors.html" %}
      {% endblock %}
      <!--accordioncontent ends-->
    </div>
  </div>
</div>


<!--accordion ends-->

  </div>

  <a href="#" class="govuk-link">Download CSV file with errors</a>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">
      Upload your amended file
    </h2>
    {{ govukFileUpload({
      id: "bulk-upload-file",
      name: "bulk-upload-file",
      label: {
        text: "Upload a file"
      }
    }) }}


    {{ govukButton({
      text: "Continue",
      href: "pre-upload-summary"
    }) }}    
    <br>
    <a href="#" class="govuk-link">Cancel</a>
  </div>
</div>
{% endblock %}
<!--main body ends-->