{% extends "layout.html" %}

{% block pageTitle %}
Pay the Dartford Crossing & Dart Charge
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
<a href="start" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <br><br>
        <h1 class="govuk-heading-l">Dart Charge forms and guidance</h1>

      <p class="govuk-body">
        Documents, forms and guidance for the Dart Charge scheme
      </p>
      <h2 class="govuk-heading-m">
        Forms and documents
      </h2>

      <ul class="govuk-list">
        <li class="govuk-!-margin-bottom-6">
          <a href="/public/images/apply.pdf" class="govuk-link" download><h3 class="govuk-heading-s govuk-!-margin-bottom-1" >
            Apply for a Dart Charge pre-pay account
          </h3></a>
          <p class="govuk-body govuk-!-font-size-14">
            30 November 2022 <span class="govuk-!-margin-left-6">Form</span>
          </p>
          <hr>
        </li>
        <li class="govuk-!-margin-bottom-6">
          <a href="/public/images/National%20Highways%20topup.pdf" class="govuk-link" download><h3 class="govuk-heading-s govuk-!-margin-bottom-1">
            Top up your Dart Charge account
          </h3></a>
          <p class="govuk-body govuk-!-font-size-14">
            30 November 2022 <span class="govuk-!-margin-left-6">Form</span>
          </p>
          <hr>
        </li>
        <li class="govuk-!-margin-bottom-6">
          <a href="/public/images/National%20Highways%20LRDS%20v2.pdf" class="govuk-link" download><h3 class="govuk-heading-s govuk-!-margin-bottom-1">
            Apply for Dart Charge's Local Resident Discount Scheme
          </h3></a>
          <p class="govuk-body govuk-!-font-size-14">
            30 November 2022 <span class="govuk-!-margin-left-6">Form</span>
          </p>
          <hr>
        </li>
        <li class="govuk-!-margin-bottom-6">
          <a href="/public/images/National%20Highways%20closure%20v2.pdf" class="govuk-link" download><h3 class="govuk-heading-s govuk-!-margin-bottom-1">
            Close your Dart Charge account
          </h3></a>
          <p class="govuk-body govuk-!-font-size-14">
            30 November 2022 <span class="govuk-!-margin-left-6">Form</span>
          </p>
          <hr>
        </li>
        <li class="govuk-!-margin-bottom-6">
          <a href="#" class="govuk-link"><h3 class="govuk-heading-s govuk-!-margin-bottom-1">
            Dart Charge Penalty Charge Notice (PCN)
          </h3></a>
          <p class="govuk-body govuk-!-font-size-14">
            30 November 2022 <span class="govuk-!-margin-left-6">Form</span>
          </p>
          <hr>
        </li>
        <li class="govuk-!-margin-bottom-6">
          <a href="#" class="govuk-link"><h3 class="govuk-heading-s govuk-!-margin-bottom-1">
            Dart Charge: Charge Certificate 
          </h3></a>
          <p class="govuk-body govuk-!-font-size-14">
            30 November 2022 <span class="govuk-!-margin-left-6">Form</span>
          </p>
          <hr>
        </li>
      </ul>

<h2 class="govuk-heading-m govuk-!-margin-top-9">
  About Dart Charge
</h2>
      
<p class="govuk-body">
  You can keep up to date with Dart Charge on <a href="https://twitter.com/DartCharge" class="govuk-link">Twitter</a> or <a href="https://www.facebook.com/dartcharge" class="govuk-link">Facebook</a>. 
</p>

<p class="govuk-body">
  You can also refer to the relevant legislation:

</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="http://www.legislation.gov.uk/uksi/2013/1783/made" class="govuk-link">The Road User Charging Enforcement Regulations</a>
  </li>
  <li>
    <a href="http://www.legislation.gov.uk/uksi/2013/2249/made" class="govuk-link">The Dartford–Thurrock River Crossing Charging Scheme Order</a>
  </li>
 
</ul>
<hr>
<ul class="govuk-list govuk-!-margin-top-6">
  <li class="govuk-!-margin-bottom-6">
    <a href="/public/images/Dart_Charge_Data_Table_Q4_2021.pdf" class="govuk-link" download><h3 class="govuk-heading-s govuk-!-margin-bottom-1">
      Dart Charge data table
    </h3></a>
    <p class="govuk-body govuk-!-font-size-14">
      30 November 2022 <span class="govuk-!-margin-left-6">Transparency data</span>
    </p>
    
  </li>
  </ul>

  <h2 class="govuk-heading-m govuk-!-margin-top-9">
    Advice for drivers 
  </h2>
  <hr>
  <ul class="govuk-list govuk-!-margin-top-6">
    <li class="govuk-!-margin-bottom-6">
      <a href="/public/images/essex%20kent.pdf" class="govuk-link" download><h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        Charging signs for Dart Charge: Kent and Essex
      </h3></a>
      <p class="govuk-body govuk-!-font-size-14">
        5 December 2022 <span class="govuk-!-margin-left-6">Guidance</span>
      </p>
      
    </li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-top-9">
      Dart Charge terms and conditions
    </h2>
    <hr>
    <ul class="govuk-list govuk-!-margin-top-6">
      <li class="govuk-!-margin-bottom-6">
        <a href="/public/images/Single%20T&%20C%20Doc%20FINAL.pdf" class="govuk-link" download><h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          Dart Charge general terms and conditions
        </h3></a>
        <p class="govuk-body govuk-!-font-size-14">
          5 December 2022 <span class="govuk-!-margin-left-6">Guidance</span>
        </p>
        
      </li>
      <li class="govuk-!-margin-bottom-6">
        <a href="/public/images/Dart_Charge_Data_Privacy_Policy.pdf" class="govuk-link" download><h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          Dart Charge privacy policy
        </h3></a>
        <p class="govuk-body govuk-!-font-size-14">
          5 December 2022 <span class="govuk-!-margin-left-6">Guidance</span>
        </p>
        
      </li>
      <li class="govuk-!-margin-bottom-6">
        <a href="/public/images/Dart%20Charge%20Auto%20Pay%20As%20You%20Go%20Terms%20and%20Conditions.pdf" class="govuk-link" download><h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          Terms and conditions for PAYG
        </h3></a>
        <p class="govuk-body govuk-!-font-size-14">
          5 December 2022 <span class="govuk-!-margin-left-6">Guidance</span>
        </p>
        
      </li>
      <li class="govuk-!-margin-bottom-6">
        <a href="/public/images/Dart_Charge_mobile_alerts_terms_and_conditions.docx" class="govuk-link" download><h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          Terms and conditions for mobile alerts
        </h3></a>
        <p class="govuk-body govuk-!-font-size-14">
          5 December 2022 <span class="govuk-!-margin-left-6">Guidance</span>
        </p>
        
      </li>
      </ul>  

{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{{ govukPagination({
  previous: {
    labelText: "Paying the charge",
    href: "start"
  }
}) }}

    </div>
      <div class="govuk-grid-column-one-third">
       
       
      </div>
    </div>
  </div>
  {% endblock %}
