{% extends "layout.html" %}

{% block pageTitle %}
Your account has been created
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    Application complete
  </h1>
  <div class="govuk-panel__body">
    Your account number<br><strong>HDJ2123F</strong>
  </div>
  <br>
 
</div>




    <p>We’ve sent a confirmation email with your account details to  {{ data['email']}}</p>
    <p>Your payment reference is [reference number]. You’ll receive the digital receipt for this payment separately. </p>


<div class="govuk-grid-row">
        

  


   
    <div class='govuk-grid-column-full'>
        <p class='govuk-body'>
          Your account is not active yet. You must still upload some of your proof of local residency documents. Once we've received all these documents, they will take up to 5 days to get approved. 
        <p>
          <p class="govuk-body">
            We’ll let you know once your account and local resident discount is activated. Until then, you’ll need to pay standard rates for your crossings.  
          <p>
            <a href="#" class="govuk-link">Upload rest of local residency documents now</a>

            {{ govukDetails({
              summaryText: "What documents to upload",
              html: 
              "
              <div class='govuk-grid-column-full'>
                
             
              <p class='govuk-body'>
                All documents must show your name and address. Make sure you include: 
              <p>
                <ul class='govuk-list govuk-list--number'>
                  <li>
                    A current council tax bill
                  </li>
                  <li>
                    Your vehicle V5C log book
                  </li>
                  <li>
                    One of the following:
                    <ul class='govuk-list govuk-list--bullet'>
                      <li>
                        a bank or credit card statement no more than 3 months old
                      </li>
                      <li>
                        a utility bill (gas, electric or water only) no more than 3 months old
                      </li>
                      <li>
                        an Income Support or housing association rent document
                      </li>
                      <li>
                        your driving licence
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              "
            }) }}

    </div>
   


      
             
</div>




  

{% endblock %}
