{% extends "layout.html" %}

{% block pageTitle %}
Sorry, there is a problem with the service - Pay the Dartford Crossing charge - GOV.UK
{% endblock %}


{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Sorry, there is a problem with the service. <a href="#" class="govuk-link">Try again</a>.
    </h1>
    


    </div>
  </div>

{% endblock %}
