{% extends "../../../layout-dash-veh-man.html" %}

{% block pageTitle %}
Crossing history
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Account summary",
      href: "../dashboard-summary"
    },
    {
      text: "Vehicle management",
      href: "vehicle-sub-summary"
    },
    {
      text: "Vehicle crossings",
      href: "crossing-history"
    },
    {
      text: "Crossing record",
      href: "#"
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Crossing record</h1>
     
      {{ govukTable({
        
        firstCellIsHeader: true,
       
        rows: [
          [
            {
              text: "Crossing date and time"
            },
            {
              text: "20 Sep 2022 at 9:34 am"
            }
          ],
          [
            {
              text: "Number plate"
            },
            {
              text: "LO62 NRO"
            }
          ],
          [
            {
              text: "Amount"
            },
            {
              text: "£2.00"
            }
          ],
          [
            {
              text: "Direction"
            },
            {
              text: "Tunnel"
            }
          ],
          [
            {
              text: "Payment status"
            },
            {
              text: "Paid"
            }
          ]
        ]
      }) }}
      <p class="govuk-body">
        <a href="crossing-history" class="govuk-link">Back to crossing history</a>
      </p>
    </div>
  </div>

{% endblock %}
