{% extends "../../layout-dash-veh-man.html" %}

{% block pageTitle %}
Account management
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{{ govukBreadcrumbs({
  items: [
   
    {
      text: "Account summary",
      href: "../../manage-account/dashboard-summary"
    },
    {
      text: "Vehicle management",
      href: "#"
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Vehicle management</h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <!--container start-->
          <div class="summaryContainer">
            <div class="summaryHeader">
              <h2 class="govuk-heading-m">
                <a href="vehicle-summary" class="govuk-link govuk-link--no-underline">
                  Vehicle list
                </a>
              </h2>
            </div>
              <div class="summaryDetail">
                <p class="govuk-body">
                 
                    Lorem Sipsum dolor sit amet, consectetur adipiscing elit. Praesent dui ligula...
                 
                </p>
              </div>
          </div>
           <!--container end-->
        </div>
        <div class="govuk-grid-column-one-third">
            <!--container start-->
            <div class="summaryContainer">
              <div class="summaryHeader">
                <h2 class="govuk-heading-m">
                  <a href="crossing-history" class="govuk-link govuk-link--no-underline">
                    Crossing history
                 </a>
                </h2>
              </div>
                <div class="summaryDetail">
                  <p class="govuk-body">
                   
                      Lorem Sipsum dolor sit amet, consectetur adipiscing elit. Praesent dui ligula...
                    
                  </p>
                </div>
            </div>
             <!--container end-->
        </div>

        {% if data['email-address'] === 'business' %}


        <div class="govuk-grid-column-one-third">
           <!--container start-->
           <div class="summaryContainer">
            <div class="summaryHeader">
              <h2 class="govuk-heading-m">
                <a href="#" class="govuk-link govuk-link--no-underline">
                  Vehicle bulk upload
                </a>
              </h2>
            </div>
              <div class="summaryDetail">
                <p class="govuk-body">
                  
                    Lorem Sipsum dolor sit amet, consectetur adipiscing elit. Praesent dui ligula...
                  
                </p>
              </div>
          </div>
           <!--container end-->
        </div>
      </div>

      <div class="govuk-grid-row">
       
        <div class="govuk-grid-column-one-third">
          <!--container start-->
          <div class="summaryContainer">
            <div class="summaryHeader">
              <h2 class="govuk-heading-m">
                <a href="#" class="govuk-link govuk-link--no-underline">
                  Group management
                </a>
              </h2>
            </div>
              <div class="summaryDetail">
                <p class="govuk-body">
                 
                    Lorem Sipsum dolor sit amet, consectetur adipiscing elit. Praesent dui ligula...
                 
                </p>
              </div>
          </div>
           <!--container end-->
        </div>
       <!--content here-->

 {% else %}
 <!--content here-->
 {% endif %}
      </div>

    </div>
  </div>

{% endblock %}
