{% extends "layout.html" %}

{% block pageTitle %}
Documents uploaded to prove local residence
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<form id="form" method="post" action="email">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    

    <h1 class="govuk-heading-l">
      Documents uploaded to prove local residence
    </h1>

    {{ govukInsetText({
      text: "You must upload all the required documents in order for your local resident discount to be approved."
    }) }}

    <h2 class="govuk-heading-m">
      Files already uploaded
    </h2>
    {{ govukTable({
      
      firstCellIsHeader: true,
     
      rows: [
        
        [
          {
            text: "Vehicle V5C log book"
          },
          {
            html: 
            "
            <a href='#' class='govuk-link'>V5C.pdf</a> 1.6MB
            "
          }
          ,
          {
            html: 
            "
            <a href='#' class='govuk-link'>Delete</a>
            "
          }
        ]
      ]
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-9">
      Files still outstanding
    </h2>

    <div class="govuk-button-group">
      {{ govukFileUpload({
        id: "file-upload-1",
        name: "file-upload-1",
        label: {
          html: "<b>Upload a current council tax bill file</b>"
        }
      }) }}

      <div class="govuk-form-group govuk-!-margin-top-3 govuk-!-margin-bottom-6">
        {{ govukFileUpload({
          id: "file-upload-1",
          name: "file-upload-1",
          label: {
            html: "<b>Upload one of the following:</b>
                    <ul class='govuk-list govuk-list--bullet'>
                      <li>
                        a bank or credit card statement no more than 3 months old
                      </li>
                      <li>
                        a utility bill (gas, electric or water only) no more than 3 months old
                      </li>
                      <li>
                        an Income Support or housing association rent document
                      </li>
                      <li>
                        your driving licence
                      </li>
                    </ul>
            "
          }
        }) }}
        </div>
        
             
              
         
        
       
            {{ govukButton({
              text: "Continue"
            }) }}
           
            <a href="email" class="govuk-link">Upload remaining documents later</a>

   

   
</div>
</div> 
   
</form>
{% endblock %}
