{% extends "../../layout-dash-acc-man.html" %}

{% block pageTitle %}
Your account has been created
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
<br><br>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: "Two step verfication choice successful"
    }) }}

    <p class="govuk-body">We've sent a confirmation email to sarah.phillips@example.com.</p>

    <p class="govuk-body">
      {{ govukButton({
        text: "Continue",
        href: "profile"
      }) }}
    </p>
  </div>
</div>




  

{% endblock %}
