{% extends "../../layout-dash-acc-man.html" %}

{% block pageTitle %}
My profile
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Account summary",
      href: "#"
    },
    {
      text: "Account management",
      href: "profile-summary"
    },
    {
      text: "My profile",
      href: "#"
    }
  ]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">My profile</h1>

    <h2 class="govuk-heading-m">Personal details</h2>

    {{ govukSummaryList({
      classes: 'govuk-!-margin-bottom-9',
      rows: [
        {
          key: {
            text: "First name"
          },
          value: {
            text: "Sarah"
          },
          actions: {
            items: [
              {
                
                text: "Change",
                visuallyHiddenText: "first name"
              }
            ]
          }
        },
        {
          key: {
            text: "Last name"
          },
          value: {
            text: "Phillips"
          },
          actions: {
            items: [
              {
                
                text: "Change",
                visuallyHiddenText: "last name"
              }
            ]
          }
        },
        {
          key: {
            text: "Address"
          },
          value: {
            html: "72 Guild Street<br>London<br>SE23 6FH"
          },
          actions: {
            items: [
              {
                
                text: "Change",
                visuallyHiddenText: "address"
              }
            ]
          }
        },
        {
          key: {
            text: "Mobile phone"
          },
          value: {
            html: '<p class="govuk-body">07700 900457</p>'
          },
          actions: {
            items: [
              {
                
                text: "Change",
                visuallyHiddenText: "mobile phone"
              }
            ]
          }
        }
      ]
    }) }}


    <h2 class="govuk-heading-m">Account details</h2>

    

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email adddress
        </dt>
        <dd class="govuk-summary-list__value">
          sarah.phillips@example.com
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Password
        </dt>
        <dd class="govuk-summary-list__value">
          <span class="password">Sarah Philips</span>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Two-step verification
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['opt-in-2fa']  %}

          {{data['opt-in-2fa']}}

              {% else %}
              Opted out
              {% endif %}



          
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="password">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      </dl>
    

    
    <form action="#" method="post" novalidate>

      <input type="hidden" name="answers-checked" value="true">

      <p class="govuk-body">
        <a href="../my-profile/profile-summary" class="govuk-link">Back to account management</a>
       </p>
      <p class="govuk-body">
     <a href="../dashboard-summary" class="govuk-link">Back to account summary</a>
    </p>
    </form>

  </div>
</div>

{% endblock %}
