{% extends "layout-dashboard.html" %}

{% block pageTitle %}
  Account summary - Business
{% endblock %}

{% block beforeContent %}
{% include "includes/alpha-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}


<!--main body starts-->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Application complete",
        html: "Your vehicles have been uploaded"
      }) }}

      <p class="govuk-body">We have sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">Summary of file</h2>

      <h2 class="govuk-heading-s">
        Display similar info here to the page before for the summary..
      </h2>
      

      <p class="govuk-body">
        <a href="#" class="govuk-link">Back to vehicle management</a>
      </p>
    </div>
  </div>
{% endblock %}
<!--main body ends-->