{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}


{% block beforeContent %}
{% include "includes/beta-banner.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="confirmation" method="post">
        <br><br>
        {% if data['enquiryComplaint'] === 'A complaint' %}
        <h1 class="govuk-heading-l">Check your answers before sending your complaint</h1>
        {% else %}
        <h1 class="govuk-heading-l">Check your answers before sending your enquiry</h1>
        {% endif %}

        {% if data['enquiryComplaint'] === 'A complaint' %}
        <h2 class="govuk-heading-m">Details of complaint</h2>
        {% else %}
        <h2 class="govuk-heading-m">Details of enquiry</h2>
        {% endif %}
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          {% if data['conduentEmovis'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Dart Charge or fine
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['conduentEmovis']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          {% endif %}
          {% if data['enquiryComplaint'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Enquiry or complaint
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['enquiryComplaint']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          {% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {% if data['enquiryComplaint'] === 'A complaint' %}
              Type of complaint
              {% else %}
              Type of enquiry
              {% endif %}
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['query']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact message 
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['with-hint']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          {% if data['pcnNumber'] %}


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Penalty Charge Notice number 
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['pcnNumber']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          {% endif %}
         
        </dl>


        <h2 class="govuk-heading-m">Personal details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['name']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
         
         
          
         
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact details
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['Mobile-number'] %}
              <p class="govuk-body">{{ data['Mobile-number']}}</p>
              {% endif %}
              {% if data['Email'] %}
              <p class="govuk-body">{{ data['Email']}}</p>
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        </dl>



        {% if data['conduentEmovis'] === 'Emovis' %}
        {{ govukCheckboxes({
          idPrefix: "termsandconditions",
          name: "termsandconditions",
         
          items: [
            {
              value: "Value",
              html: "I confirm the information is correct to the best of my knowledge"
            }
          ]
         }) }}
         {% endif %}
        {{ govukButton({
          text: "Continue"
        }) }}
    </form>
    </div>
  </div>

{% endblock %}
