{% extends "layout.html" %}

{% block pageTitle %}
Enquiry submitted
{% endblock %}


{% block beforeContent %}
{% include "includes/beta-banner.html" %}

{% endblock %}



{% block content %}



    {% if data['conduentEmovis'] === 'A fine (Penalty Charge Notice)' %}

        <!--EMOVIS content starts here-->
        

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
           
           
            {{ govukPanel({
              titleText: "Dart Charge enquiry submitted"
            }) }}
            
        <table class="govuk-table">
    
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Contact details</th>
              <td class="govuk-table__cell">{{ data['name']}}<br>{{ data['Email']}}<br>{{ data['Mobile-number']}}</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Date</th>
              <td class="govuk-table__cell">[today's date]</td>
            </tr>
            
          </tbody>
        </table>
        
        <p class="govuk-body">
          <a href="#" class="govuk-link">Print a copy of this information</a>
        </p>
        <h2 class="govuk-heading-m">What happens next</h2>
    
        <p class="govuk-body">
          We aim to respond within 1 working day
        </p>
      </div>
    </div>
         {% else %}
        <!--CONDUENT content starts here-->
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            {% if data['enquiryComplaint'] === 'A complaint' %}
            {{ govukPanel({
              titleText: "Dart Charge complaint submitted"
            }) }}
            {% else %}
            {{ govukPanel({
              titleText: "Dart Charge enquiry submitted"
            }) }}
            {% endif %}
        <p class="govuk-body">
          We've sent a confirmation email to {{ data['Email']}}.
        </p>
        <h2 class="govuk-heading-m">
          What happens next
        </h2>
        
        {% if data['enquiryComplaint'] === 'A complaint' %}
        <p class="govuk-body">
          We will respond to your complaint within 5 days.
        </p>
        {% else %}
        <p class="govuk-body">
          We will respond to your enquiry within 24 hours. Some types of enquiries, for example police matters and Freedom of Information requests, may take longer.
        </p>
        {% endif %}
      </div>
    </div>
        {% endif %}
  
{% endblock %}


