{% extends "layout.html" %}

{% block pageTitle %}

{% endblock %}


{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="query-category" method="post">
       <h1 class="govuk-heading-l">
        which route?
       </h1>
       {{ govukRadios({
        idPrefix: "conduentEmovis",
        name: "conduentEmovis",
        
        items: [
          {
            value: "Conduent",
            text: "Conduent"
          },
          {
            value: "Emovis",
            text: "Emovis"
          }
        ]
       }) }}

       {{ govukButton({
        text: "Continue"
       }) }}
    </form>
    </div>
  </div>

{% endblock %}
