{% extends "layout.html" %}

{% block pageTitle %}
Contact details
{% endblock %}


{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}





  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="check-answers" method="post">
       

        <h1 class="govuk-heading-l">
          Contact details
          </h1>
         <p class="govuk-body">
          Provide your details so we can contact you.
         </p>
        
         {{ govukInput({
          id: "name",
          name: "name",
          classes: "govuk-input--width-20",
          label: {
            text: "Full name"
          }
         }) }}
         {% if data['email-address'] %}
         {% set emailHtml %}
         {{ govukInput({
           id: "Email",
           name: "Email",
           classes: "govuk-input--width-20",
           label: {
             html: "<b>Email address</b>"
           },
           value: "email@email.com"
         }) }}
         {% endset -%}
        
         {% set textHtml %}
         {{ govukInput({
           id: "Mobile-number",
           name: "Mobile-number",
           classes: "govuk-input--width-20",
           label: {
             html: "<b>Mobile number</b>"
           }
         }) }}
         {% endset -%}
         
        
        
         {{ govukCheckboxes({
           idPrefix: "receipt-pref",
           name: "receipt-pref",
           items: [
             {
               value: "Email",
               text: "Email (optional)",
               conditional: {
                 html: emailHtml
               },
               checked: "true"
             },
             {
               value: "Text message",
               text: "Text message (optional)",
               conditional: {
                 html: textHtml
               }
             }
           ]
         }) }}

<!--second set of content-->
{% else %}


 
 {% set emailHtml %}
 {{ govukInput({
   id: "Email",
   name: "Email",
   classes: "govuk-input--width-20",
   label: {
     html: "<b>Email address</b>"
   }
 }) }}
 {% endset -%}

 {% set textHtml %}
 {{ govukInput({
   id: "Mobile-number",
   name: "Mobile-number",
   classes: "govuk-input--width-20",
   label: {
     html: "<b>Mobile number</b>"
   }
 }) }}
 {% endset -%}
 


 {{ govukCheckboxes({
   idPrefix: "contact-pref",
   name: "contact-pref",
   items: [
     {
       value: "logged-in-Email",
       text: "Email (optional)",
       conditional: {
         html: emailHtml
       }
     },
     {
       value: "Text message",
       text: "Text message (optional)",
       conditional: {
         html: textHtml
       }
     }
   ]
 }) }}
 {% endif %}

                   

                    {{ govukButton({
                      text: "Continue"
                    }) }}

    </form>
    </div>
  </div>

{% endblock %}
