{% extends "layout.html" %}

{% block pageTitle %}
What is your query about?
{% endblock %}


{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="message" method="post">
       <h1 class="govuk-heading-l">
        What is your query about?
       </h1>
       
       {% if data['conduentEmovis'] === 'Conduent' %}

       {{ govukRadios({
        idPrefix: "query",
        name: "query",
        
        items: [
        {
          value: "Acessibility requests",
          text: "Accessibility requests"
        },
        {
          value: "Account management",
          text: "Account management"
        },
        {
          value: "Charges",
          text: "Charges"
        },  
        {
            value: "Complaints",
            text: "Complaints"
          },
          {
            value: "Enquiry",
            text: "Enquiry"
          },
          {
            value: "General crossing information",
            text: "General crossing information"
          },
          {
            value: "Refunds",
            text: "Refunds"
          },  
          {
              value: "Website feedback",
              text: "Website feedback"
            }
        ]
       }) }}

          {% else %}
          {{ govukRadios({
            idPrefix: "query",
            name: "query",
            
            items: [
            {
              value: "Complaint",
              text: "Complaint"
            },  
            {
                value: "Enquiry",
                text: "Enquiry"
              },
              {
                value: "Refund request",
                text: "Refund request"
              }
            ]
           }) }}
          {% endif %}




      
       {{ govukButton({
        text: "Continue"
       }) }}
    </form>
    </div>
  </div>

{% endblock %}
