{% extends "layout.html" %}

{% block pageTitle %}
Select your address
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
{% if data['account-type'] === 'Personal' %}


      
      

      <!--OUTSIDE OF LRDS ZONE CONTENT-->
      <form class="form" action="lrdsSelect" method="post">
       
        <fieldset class="govuk-fieldset">
          <h2 class="govuk-heading-l">Select your address</h2>
          <div class="govuk-inset-text">
            Your postcode has been recognised as a valid Local Resident Discount Scheme (LRDS) postcode. <br>
                <a href='../lrds/LRDS-start' target="_blank">Find out more about the LRDS discount (opens in a new tab).</a>
            </div>
      
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-postcode">
            </label>
      
            <select class="govuk-select" id="select-address" name="select-address">
                <option value="addressfound" selected>8 addresses found</option>
                <option value="1 Bark Road, Dartford, Kent ">1 Bark Road, Dartford, Kent DA1 1DY</option>
                <option value="3 Bark Road, Dartford, Kent ">3 Bark Road, Dartford, Kent DA1 1DY</option>
                <option value="5 Bark Road, Dartford, Kent ">5 Bark Road, Dartford, Kent DA1 1DY</option>
                <option value="7 Bark Road, Dartford, Kent ">7 Bark Road, Dartford, Kent DA1 1DY</option>
                <option value="9 Bark Road, Dartford, Kent ">9 Bark Road, Dartford, Kent DA1 1DY</option>
                <option value="11 Bark Road, Dartford, Kent ">11 Bark Road, Dartford, Kent DA1 1DY</option>
                <option value="15 Bark Road, Dartford, Kent ">15 Bark Road, Dartford, Kent DA1 1DY</option>
                <option value="17 Bark Road, Dartford, Kent ">17 Bark Road, Dartford, Kent DA1 1DY</option>
            </select>
      
        </fieldset>
      
        <button class="govuk-button" data-module="govuk-button">Continue</button>
        <p class='govuk-body'><a href='addressmanual'>Enter your address manually</a></p>
      </form>
      <!--OUTSIDE OF LRDS ZONE CONTENT ENDS-->
     
     
    

 {% else %}
 <form class="form" action="email" method="post">
  <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-1">Select an address</h1>
    <fieldset class="govuk-fieldset">
      

   

    <div class="govuk-form-group">
      <label class="govuk-label" for="address-postcode">
      </label>

      <select class="govuk-select" id="select-address" name="select-address">
          <option value="addressfound" selected>8 addresses found</option>
          <option value="1 Bark Road, Townsville, Countyville ">1 Bark Road, Townsville, Countyville {{ data['address-postcode'] }}</option>
                  <option value="3 Bark Road, Townsville, Countyville ">3 Bark Road, Townsville, Countyville {{ data['address-postcode'] }}</option>
                  <option value="5 Bark Road, Townsville, Countyville ">5 Bark Road, Townsville, Countyville {{ data['address-postcode'] }}</option>
                  <option value="7 Bark Road, Townsville, Countyville ">7 Bark Road, Townsville, Countyville {{ data['address-postcode'] }}</option>
                  <option value="9 Bark Road, Townsville, Countyville ">9 Bark Road, Townsville, Countyville {{ data['address-postcode'] }}</option>
                  <option value="11 Bark Road, Townsville, Countyville ">11 Bark Road, Townsville, Countyville {{ data['address-postcode'] }}</option>
                  <option value="15 Bark Road, Townsville, Countyville ">15 Bark Road, Townsville, Countyville {{ data['address-postcode'] }}</option>
                  <option value="17 Bark Road, Townsville, Countyville ">17 Bark Road, Townsville, Countyville {{ data['address-postcode'] }}</option>
      </select>

  </fieldset>

  <button class="govuk-button" data-module="govuk-button">Continue</button>
  <p class='govuk-body'><a href='addressmanual'>Enter your address manually</a></p>
</form>
{% endif %}
</div>
</div>




     
    </div>
  </div>

{% endblock %}
