{% extends "layout.html" %}

{% block pageTitle %}
Step 2 - Select your address
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<form id="form" method="post" action="lrdsDocUploadConfirmation">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    

    <h1 class="govuk-heading-l">
      LRDS files uploaded
    </h1>
    {{ govukTable({
      
      firstCellIsHeader: false,
      head: [
        {
          text: "Filename"
        },
        {
          text: "Document type"
        }
        ,
        {
          text: ""
        }
      ],
      rows: [
        [
          {
            text: "doc1.pdf"
          },
          {
            text: "V5C"
          }
          ,
          {
            html: 
            "
            <a href='#' class='govuk-link'>Remove
            "
          }
        ]
      ]
    }) }}
    <div class="govuk-button-group">

    {{ govukButton({
      text: "Upload another document"
    }) }}

   

    </div>
</div>
</div> 
    </div>
  </div>
</form>
{% endblock %}
