{% extends "layout.html" %}

{% block pageTitle %}
Step 2 - Select your address
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<form id="form" method="post" action="email">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    

    <h1 class="govuk-heading-l">
      LRDS files uploaded
    </h1>

    <h2 class="govuk-heading-m">
      Files added
    </h2>
    {{ govukTable({
      
      firstCellIsHeader: true,
     
      rows: [
        
        [
          {
            text: "Vehicle V5C log book"
          },
          {
            html: 
            "
            <a href='#' class='govuk-link'>V5C.pdf</a> 1.6MB
            "
          }
          ,
          {
            html: 
            "
            <a href='#' class='govuk-link'>Delete</a>
            "
          }
        ]
      ]
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-9">
      Required files
    </h2>

    <div class="govuk-button-group">
      {{ govukFileUpload({
        id: "file-upload-1",
        name: "file-upload-1",
        label: {
          html: "<b>Upload a current council tax bill file</b>"
        }
      }) }}

      <div class="govuk-form-group">
        <label class="govuk-label" for="file-upload-1">
          <b>Upload One of the following: (list below)</b>
        </label>
        {{ govukRadios({
          idPrefix: "fileTypeLRDS",
          name: "fileTypeLRDS",
          classes: " govuk-!-margin-top-2",
          items: [
            {
              value: "Value",
              text: "a bank or credit card statement no more than 3 months old"
            },
            {
              value: "Value",
              text: "a utility bill (gas, electric or water only) no more than 3 months old"
            },
            {
              value: "Value",
              text: " an Income Support or housing association rent document"
            },
            {
              value: "Value",
              text: "your driving licence"
            }
          ]
        }) }}
        <input class="govuk-file-upload govuk-!-margin-top-1" id="file-upload-1" name="file-upload-1" type="file">
      </div>



    {{ govukButton({
      text: "Continue"
    }) }}

   

    </div>
</div>
</div> 
    </div>
  </div>
</form>
{% endblock %}
