{% extends "layout.html" %}

{% block pageTitle %}
Step 2 - Select your address
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<form id="form" method="post" action="lrdsSelection">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    {{ govukRadios({
      idPrefix: "lrdsSelect",
      name: "lrdsSelect",
      fieldset: {
        legend: {
          text: " LRDS account selection",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "Hint text"
      },
      items: [
        {
          value: "lrds10",
          text: "lrds10"
        },
        {
          value: "lrds20",
          text: "lrds20"
        },
        {
          divider: "or"
        },
        {
          value: "None of the above",
          text: "None of the above"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
</div>
</div> 
    </div>
  </div>
</form>
{% endblock %}
