{% extends "layout.html" %}

{% block pageTitle %}
Step 2 - Select your address
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<form id="form" method="post" action="lrdsPost">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
   <h1 class="govuk-heading-l">
     Postal details for LRDS
   </h1>
   <p class="govuk-body">
     Stuff here for where the docs need to be sent, what needs to be sent and anything else that is useful at this stage.
   <p>
    {{ govukButton({
      text: "Continue"
    }) }}
</div>
</div> 
    </div>
  </div>
</form>
{% endblock %}
