{% extends "layout.html" %}

{% block pageTitle %}
Step 2 - Select your address
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<form id="form" method="post" action="lrdsSelection">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      What type of local resident discount would you like?
    </h1>
    <p class="govuk-body">
      Under the Local Resident Discount Scheme (LRDS), you can choose from two different discount options.
    </p>
    {{ govukInsetText({
      text: "Only one vehicle is allowed per resident. You can add more vehicles to your account, but standard rates will apply."
    }) }}
    
    {{ govukRadios({
      idPrefix: "lrdsSelect",
      name: "lrdsSelect",
      items: [
        {
          value: "lrds10",
          text: "Limited discount",
          hint: {
            text: "£10 per year for 50 crossings, and thereafter 20p per crossing. You'll be notified when a few crossings are left on your account, and get the option to make an additional payment."
          }
        },
        {
          value: "lrds20",
          text: "Unlimited discount",
          hint: {
            text: "£20 per year for unlimited crossings. You'll be notified when you are close to your discount expiration date."
          }
        },
        {
          divider: "or"
        },
        {
          value: "None of the above",
          text: "I do not want a local resident discount"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
</div>
</div> 
    </div>
  </div>
</form>
{% endblock %}
