{% extends "layout.html" %}

{% block pageTitle %}
Step 2 - Select your address
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<form id="form" method="post" action="email">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
   <h1 class="govuk-heading-l">
     LRDS Docs uploaded
   </h1>
   <p class="govuk-body">
     Think we may need to talk through this page.<br><br><br>Is it needed?<br><br><br>
   <p>
    {{ govukButton({
      text: "Continue"
    }) }}
</div>
</div> 
    </div>
  </div>
</form>
{% endblock %}
