{% extends "layout.html" %}

{% block pageTitle %}
Step 2 - Select your address
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<form id="form" method="post" action="email">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    {{ govukRadios({
      idPrefix: "lrdsSelect",
      name: "lrdsSelect",
      fieldset: {
        legend: {
          text: "Other account selection",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "Hint text"
      },
      items: [
        {
          value: "payg",
          text: "payg"
        },
        {
          value: "auto top up",
          text: "auto top up"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
</div>
</div> 
    </div>
  </div>
</form>
{% endblock %}
