{% extends "layout.html" %}

{% block pageTitle %}
Step 3 - Your vehicle
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}











  {% if data['account-type'] === 'Personal' %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
        <fieldset class="govuk-fieldset">
          <h1 class="govuk-heading-l">Add another vehicle</h1>


            <form class="form" method="post" action="payment3a">

              <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">
                      <p class="govuk-body">
                        yet to be designed
                      <p>

        <button class="govuk-button" data-module="govuk-button">Continue</button>
      <!--  </div><button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add another vehicle
        </button>-->
      </form>

    </div>
  </div>
  

  {% else %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-1">Your vehicle</h1>
        <fieldset class="govuk-fieldset">
          <h1 class="govuk-heading-l">Add another vehicle</h1>


            <form class="form" method="post" action="payment3a">

              <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">
                      <p class="govuk-body">
                        yet to be designed
                      <p>

                        {{ govukButton({
                          text: "Continue",
                          href: "number-of-vehicles"
                        }) }}

                        {{ govukButton({
                          text: "Add another vehicle",
                          href: "vehicle-registration",
                          classes: "govuk-button--secondary"
                        }) }}

       </div>
      </form>

    </div>
  </div>


  {% endif %}




{% endblock %}
