{% extends "layout.html" %}

{% block pageTitle %}
Step 3 - Your vehicle
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}











  {% if data['account-type'] === 'Personal' %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
        <fieldset class="govuk-fieldset">
          <h1 class="govuk-heading-l">You've added 1 vehicle</h1>
          <div class="govuk-grid-column-two-thirds">
            
            <div class="govuk-grid-row">
              
            
          
            {{ govukTable({
              
              firstCellIsHeader: false,
              rows: [
                [
                  {
                    text: "RF22 5RE"
                  },
                  {
                    html: ""
                  },
                  {
                    html: "<a href='#' class='govuk-link'>Change</a> | <a href='#' class='govuk-link govuk-!-text-align-left'>Remove</a>"
                  }
                ]
              ]
            }) }}

          </div>
        </div>
        <div class="govuk-grid-column-full">
          
          <div class="govuk-grid-row">
          <h2 class="govuk-heading-m">
            Do you want to add another vehicle?
          </h2>
          {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "more-vehicles",
            name: "more-vehicles",
            items: [
              {
                value: "Yes",
                text: "Yes"
              },
              {
                value: "No",
                text: "No"
              }
            ]
          }) }}
        </div>
        </div>
            <form class="form" method="post" action="payment3a">

              <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">
                    

        <button class="govuk-button" data-module="govuk-button">Continue</button>
      
      </form>

    </div>
  </div>
  

  {% else %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-1">Your vehicle</h1>
        <fieldset class="govuk-fieldset">
          <h1 class="govuk-heading-l">Add another vehicle</h1>


            <form class="form" method="post" action="payment3a">

              <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">
                      <p class="govuk-body">
                        yet to be designed
                      <p>

                        {{ govukButton({
                          text: "Continue",
                          href: "number-of-vehicles"
                        }) }}

                        {{ govukButton({
                          text: "Add another vehicle",
                          href: "vehicle-registration",
                          classes: "govuk-button--secondary"
                        }) }}

       </div>
      </form>

    </div>
  </div>


  {% endif %}




{% endblock %}
