{% extends "layout.html" %}

{% block pageTitle %}
Close your account
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% endblock %}

{% block content %}



    {% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Account closed"
      }) }}

      <p class="govuk-body">We’ve sent a confirmation email to (email address).</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        Any remaining credit will be refunded to your default payment method.
            </p>

      
      
    </div>
  </div>


 

{% endblock %}
