
{% extends "layout.html" %}

{% block pageTitle %}
  Prototype Iterations
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Pay the Dartford Crossing charge (Dart Charge)
    </h1>

  <!--  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        ALPHA PHASE
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">Assessment: 20th January 2022</p>
    </div>
  </div>
      <p>hello world</p>-->

     


      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#research-versions">
              Research
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#prototype-iterations-beta">
              Beta 
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#prototype-iterations-baselined">
              Baselined
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#prototype-iterations">
              Alpha 
            </a>
          </li>
        </ul>
        
<!--Research Iterations-->
        <div class="govuk-tabs__panel" id="research-versions">
          <h2 class="govuk-heading-l">Latest Research version</h2>
          <p>This will be the most up to date version of the prototype and can be used with Users for testing.</p>
          <h2 class="govuk-heading-l">
            Beta research
          </h2>
          <h3 class="govuk-heading-m">Ready for research</h3>

          <ul class="govuk-list govuk-list--bullet">
            <li> 
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6">
              Account summary (previously Dashboard)
            </h3>
          </li>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="v06/v1/account/account-summary-business-v3" class="govuk-link">Account summary - Business</a>
            </li>
          
            <li>
              <a href="v06/v1/account/account-summary-personal-pre-pay" class="govuk-link">Account summary - Personal Pre pay (Auto top up)</a>
            </li>
            <li>
              <a href="v06/v1/account/account-summary-personal-payg" class="govuk-link">Account summary - Personal (PayG)</a>
            </li>
          </ul>
          </ul>

          <ul class="govuk-list govuk-list--bullet">
            <li> 
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6">
              Vehicle bulk upload
            </h3>
          </li>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="v06/v3/account/bulk-upload/bulk-upload-start" class="govuk-link">Vehicle bulk upload</a>
            </li>
          </ul>
          </ul>
         <!-- <li>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6">
            Vehicle bulk upload
          </h3>
        </li>
          <ul>
          
            <li><a href="beta/v2/account/bulk-upload/bulk-upload-start" class="govuk-link">Vehicle bulk upload</a></li>
          </ul>-->
          </ul>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <hr class="govuk-!-margin-top-9 govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-m">Alpha research</h2>
                <th scope="col" class="govuk-table__header">Sprint</th>
                <th scope="col" class="govuk-table__header">No of <br>participants</th>
                <th scope="col" class="govuk-table__header">UR Confidence</th>
                <th scope="col" class="govuk-table__header">Link to research findings</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">11</td>
                <td class="govuk-table__cell">4</td>
                <td class="govuk-table__cell">
                  <span class="govuk-tag govuk-tag--yellow">Medium</span>
                <td class="govuk-table__cell">
                  <a href="https://docs.google.com/presentation/d/1h1LhTjfXkoS5G9O2OfW48rPaZY54H48KXF9_rIEhK5Y/edit#slide=id.ge0c95a1ed0_0_130" class="govuk-link rel="noreferrer noopener" target="_blank">Research document
</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">12</td>
                <td class="govuk-table__cell">5</td>
                <td class="govuk-table__cell">
                  <span class="govuk-tag govuk-tag--yellow">Medium</span>
                  <td class="govuk-table__cell">
                    <a href="https://docs.google.com/presentation/d/1XYrMFy0_yr1G7J49WCsii_PAVEEoHPJZFEkUnoNLBNs/edit?usp=sharing" class="govuk-link rel="noreferrer noopener" target="_blank">Research document
    </a>
              </tr>
              <!--<tr class="govuk-table__row">
                <td class="govuk-table__cell">13</td>
                <td class="govuk-table__cell">4</td>
                <td class="govuk-table__cell">
                  <td class="govuk-table__cell">
                    <a class="govuk-link" rel="noreferrer noopener" target="_blank">In progress</a>
              </tr>-->
            </tbody>
          </table>
        </div>
        <!--beta versions start-->
        <div class="govuk-tabs__panel" id="prototype-iterations-beta">
          <h2 class="govuk-heading-l">Prototype iterations - Beta</h2>
          <p class="govuk-body">
            Design iterations created during Beta will be held here. The most recent version should be considered 'in-progress' and as such, may not be stable. For the latest stable version, please referennce the Research tab.

          <p>
            <h2 class="govuk-heading-l">
              <span class="govuk-caption-m">Current sprint</span>
              Sprint 11b
            </h2>
           
            <ul class="govuk-list govuk-list--bullet">
              <li> 
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6">
                Account creation
              </h3>
            </li>
              <ul>
                <li>
                  <a href="https://miro.com/app/board/uXjVO5gpAaI=/" class="govuk-link" target="_blank">Miro board</a>
                </li>
                <li>Prototype link - tbc</li>
            </ul>
            </ul>
            <hr>
            
            <h2 class="govuk-heading-l">
              Previous sprints
            </h2>
            {{ govukAccordion({
              id: "previousSprints",
              items: [
                {
                  heading: {
                    text: "Sprint 11a"
                  },
                  content: {
                    html: 
                    "
                    <p class='govuk-body'>
                      The following sections were worked on during Sprint 11a, ready for User research in future sprints
                    <p>
                    <ul class='govuk-list govuk-list--bullet'>
                      <li> 
                        <h3 class='govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6'>
                        Account summary (previously Dashboard)
                      </h3>
                    </li>
                      <ul>
                        <li>
                          <a href='https://miro.com/app/board/uXjVO980Kvo=/' class='govuk-link' target='_blank'>Miro board</a>
                        </li>
                      <li>
                        <a href='v06/v1/account/account-summary-business-v3' class='govuk-link'>Account summary - Business</a>
                      </li>
                    
                      <li>
                        <a href='v06/v1/account/account-summary-personal-pre-pay' class='govuk-link'>Account summary - Personal Pre pay (Auto top up)</a>
                      </li>
                      <li>
                        <a href='v06/v1/account/account-summary-personal-payg' class='govuk-link'>Account summary - Personal (PayG)</a>
                      </li>
                    </ul>
                    <li>
                      <h3 class='govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6'>
                      Vehicle bulk upload
                    </h3>
                  </li>
                    <ul>
                      <li>
                        <a href='https://miro.com/app/board/uXjVO7A2VGI=/' class='govuk-link' target='_blank'>Miro board</a>
                      </li>
                      <li><a href='v06/v1/account/bulk-upload/bulk-upload-start' class='govuk-link'>Version 1</a></li>
                      <li><a href='v06/v2/account/bulk-upload/bulk-upload-start' class='govuk-link'>Version 2 - Including feedback and guidance from BA's</a></li>
                      <li><a href='v06/v2/account/bulk-upload/bulk-upload-start-error-states' class='govuk-link'>Bulk upload start page - Error states</a></li>
                      <li><a href='v06/v2/account/bulk-upload/bulk-upload-error-summary-variantb' class='govuk-link'>Error summary - Variant B</a></li>
                      <li><a href='v06/v3/account/bulk-upload/bulk-upload-start' class='govuk-link'>Version 3 - Including feedback from show and tell</a></li>
                    </ul>
                    </ul>
                    "
                  }
                }
              ]
            }) }}


          </div>
          <!--beta versions ends-->
           <!--baselined versions start-->
        <div class="govuk-tabs__panel" id="prototype-iterations-baselined">
          <h2 class="govuk-heading-l">Prototype iterations - Baselined</h2>
          <p class="govuk-body">
            Only designs that have been signed off and ready for development will exist within this section.
          <p>

           <p class="govuk-body">
             These are not the droids you are looking for...
           <p>

          </div>
          <!--beta versions ends-->
<!--Prototype Iterations-->
        
        <div class="govuk-tabs__panel govuk-tabs__panel" id="prototype-iterations">
          <h2 class="govuk-heading-l">Prototype iterations - Alpha</h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <h2 class="govuk-heading-m">Inputs for prototypes</h2>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Name - Alex Lee</li>
                    <li>vehicle registration - LO62 NRO</li>
                    <li>email address - alex.lee@gmail.com</li>
                    <li>phone no - 0789912345</li>
                    <li>postcode - DA1 1DY</li>
                    <li>address - 3 Bark Road, Dartford, Kent DA1 1DY</li>
                  </ul>
<!--errors -->

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <h2 class="govuk-heading-m">Error messages -WIP</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="unhappy-paths/service/problem">
           Sorry, there is a problem with the service<span class="govuk-visually-hidden">Start</span></a></li>
            <li><a class="govuk-link" href="unhappy-paths/service/problem">
           Page not found<span class="govuk-visually-hidden">Start</span></a></li>
            <li><a class="govuk-link" href="unhappy-paths/service/problem">
           Incorrect password<span class="govuk-visually-hidden">Start</span></a></li>
            <li><a class="govuk-link" href="http://localhost:3000/v05/start">
           Passwords don't match<span class="govuk-visually-hidden">Start</span></a></li>
            <li><a class="govuk-link" href="http://localhost:3000/v05/start">
           Wrong format<span class="govuk-visually-hidden">Start</span></a></li>
            <li><a class="govuk-link" href="http://localhost:3000/v05/start">
           No password entered<span class="govuk-visually-hidden">Start</span></a></li>
          </ul>

<!--v05-->
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Version 05 - Being tested</h2>
    <a href="/v05/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
       View prototype</a>
    <!--V05 summary list-->
       <dl class="govuk-summary-list">
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Error message
           </dt>
           <dd class="govuk-summary-list__key">
             Changes made
           </dd>
         </div>
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__value">
             <a class="govuk-link" href="/v05/start">
            Start<span class="govuk-visually-hidden">Start</span></a>
           </dt>
           <dd class="govuk-summary-list__value">
             Updated content for start page
           </dd>

         </div>
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__value">
             <a class="govuk-link" href="v05/create-account/create-start">
            Create your account <span class="govuk-visually-hidden">Create your account </span>
                 </a>
           </dt>
           <dd class="govuk-summary-list__value">
          Iterations from feedback.<br>Simplifying LRDS application as part of create account flow.</dd>
         </div>
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__value">
             <a class="govuk-link" href="v05/create-account/create-start">
            Create your account <span class="govuk-visually-hidden">Create your account </span>
                 </a>
           </dt>
           <dd class="govuk-summary-list__value">
          Add option to sign up to notifications</dd>
         </div>
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__value">
             <a class="govuk-link" href="v05/create-account/notifications">
            One off payment flow<span class="govuk-visually-hidden">One off payment flow</span>
                 </a>
           </dt>
           <dd class="govuk-summary-list__value">
             Content changes </dd>
         </div>

      <!--   <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__value">
          <a class="govuk-link" href="#">
         Manage account<span class="govuk-visually-hidden">Manage account</span>
              </a>
           </dt>
           <dd class="govuk-summary-list__value">
             <p class="govuk-body">Dashboard copied from previous version with heading</p>
             <p class="govuk-body"></p>
           </dd>-->

       </dl>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

<h2 class="govuk-heading-m">Version 04</h2>
<a href="/v04/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
   View prototype</a>
<!--V04 summary list-->
   <dl class="govuk-summary-list">
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Screen name
       </dt>
       <dd class="govuk-summary-list__key">
         Changes made
       </dd>
     </div>
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__value">
         <a class="govuk-link" href="../v04/start">
        Start<span class="govuk-visually-hidden">Start</span></a>
       </dt>
       <dd class="govuk-summary-list__value">
         Congestion details added
       </dd>

     </div>
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__value">
         <a class="govuk-link" href="v04/create-account/create-start">
        Create your account <span class="govuk-visually-hidden">Create your account </span>
             </a>
       </dt>
       <dd class="govuk-summary-list__value">
         Iteration on full journey using Single Sign on as Design approach.<br><b> Single sign on not live until March 2022.</b>
       </dd>
     </div>

     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__value">
         <a class="govuk-link" href="#">
        One off payment flow<span class="govuk-visually-hidden">One off payment flow</span>
             </a>
       </dt>
       <dd class="govuk-summary-list__value">
         Content changes  </dd>
     </div>

     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__value">
      <a class="govuk-link" href="#">
     Manage account<span class="govuk-visually-hidden">Manage account</span>
          </a>
       </dt>
       <dd class="govuk-summary-list__value">
         <p class="govuk-body">Dashboard copied from previous version with heading</p>
         <p class="govuk-body"></p>
       </dd>

   </dl>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

   <!--v03--><!--
<h2 class="govuk-heading-m">Version 03</h2>
<a href="/v04/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
View prototype</a>
V03 summary list-->
<!--
<dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Screen name
</dt>
<dd class="govuk-summary-list__key">
Changes made
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__value">
<a class="govuk-link" href="http://localhost:3000/v03/start">
Start<span class="govuk-visually-hidden">Start</span></a>
</dt>
<dd class="govuk-summary-list__value">
Congestion details added
</dd>

</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__value">
<a class="govuk-link" href="#">
Name <span class="govuk-visually-hidden">name</span>
</a>
</dt>
<dd class="govuk-summary-list__value">
Description
</dd>

</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__value">
<a class="govuk-link" href="#">
Name <span class="govuk-visually-hidden">Name</span>
</a>
</dt>
<dd class="govuk-summary-list__value">
<p class="govuk-body">Description</p>
<p class="govuk-body"></p>
</dd>
</dl>

<!--v03
<h2 class="govuk-heading-m">Version 02</h2>
<a href="/v04/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
View prototype</a>
<!--V03 summary list

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Screen name
</dt>
<dd class="govuk-summary-list__key">
Changes made
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__value">
<a class="govuk-link" href="http://localhost:3000/v02/start">
Start<span class="govuk-visually-hidden">Start</span></a>
</dt>
<dd class="govuk-summary-list__value">
Congestion details added
</dd>

</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__value">
<a class="govuk-link" href="#">
Name <span class="govuk-visually-hidden">name</span>
</a>
</dt>
<dd class="govuk-summary-list__value">
Description
</dd>

</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__value">
<a class="govuk-link" href="#">
Name <span class="govuk-visually-hidden">Name</span>
</a>
</dt>
<dd class="govuk-summary-list__value">
<p class="govuk-body">Description</p>
<p class="govuk-body"></p>
</dd>
</dl>

v01-
<h2 class="govuk-heading-m">Version 01</h2>
<a href="/v01/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
View prototype</a>
V01 summary list-->


<!--visual-->
<h2 class="govuk-heading-m">Visual Designs</h2>
<div>
  <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="https://www.figma.com/file/UMjLyoKZkjqX0AIPiWObGf/Make-a-one-off-payment_v3">HCL Figma prototype - One Off Payment</a>
  </li>
  <li>
    <a class="govuk-link" href="https://miro.com/app/board/uXjVOanaAa8=/">Hippo - Miro - Alpha Iterations </a>
  </li>
  <li>
    <a class="govuk-link" href="https://www.figma.com/proto/kVnm7SXP3mYmiZLkyDI294/HEDC-SMS-POC?page-id=0%3A1&node-id=0%3A1&viewport=289%2C48%2C0.22&scaling=scale-down&starting-point-node-id=2%3A3413" class="govuk-link rel="noreferrer noopener" target="_blank">Figma Walkthrough Prototype of SMS journey POC</a>
  </li>
  <li>
    <a class="govuk-link" href="#"></a>
  </li>
</ul>
  </div>
    </div>
      </div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <h2 class="govuk-heading-m">Documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>
    </div>
    
  </div>
 

{% endblock %}
