
{% extends "layout.html" %}

{% block pageTitle %}
  Dartford Crossing charge - Prototype iterations
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Pay the Dartford Crossing charge (Dart Charge)
    </h1>

  

     


      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#research-versions">
              Research
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#prototype-iterations-beta">
              Beta 
            </a>
          </li>
          <!--<li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#prototype-iterations-baselined">
              Baselined
            </a>
          </li>-->
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#prototype-iterations">
              Alpha 
            </a>
          </li>
        </ul>
        
<!--Research Iterations-->
        <div class="govuk-tabs__panel" id="research-versions">
          <h2 class="govuk-heading-l">Latest Research version</h2>
          <p>This will be the most up to date version of the prototype and can be used with Users for testing.</p>
          <h2 class="govuk-heading-l">
            Beta research
          </h2>
          <h3 class="govuk-heading-m">Ready for research</h3>

          {{ govukButton({
            text: "Start of service (version 21)",
            href: "/v21/start"
          }) }}
          <ul class="govuk-list govuk-list--bullet">
            <li> 
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6">
              Account creation (Business)
            </h3>
          </li>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="v11/start" class="govuk-link">Sprint 25 (ver 11) - Account creation - Business</a>
            </li>
          </ul>
          <ul class="govuk-list govuk-list--bullet">
            <li> 
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6">
              Account creation (personal only)
            </h3>
          </li>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="v10/start" class="govuk-link">Sprint 25 - Account creation (non LRDS)</a>
            </li>
          </ul>
          </ul>

          <ul class="govuk-list govuk-list--bullet">
            <li> 
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6">
              Account summary (previously Dashboard)
            </h3>
          </li>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="v06/v1/account/account-summary-business-v3" class="govuk-link">Account summary - Business</a>
            </li>
          
            <li>
              <a href="v06/v1/account/account-summary-personal-pre-pay" class="govuk-link">Account summary - Personal Pre pay (Auto top up)</a>
            </li>
            <li>
              <a href="v06/v1/account/account-summary-personal-payg" class="govuk-link">Account summary - Personal (PayG)</a>
            </li>
          </ul>
          </ul>

          <ul class="govuk-list govuk-list--bullet">
            <li> 
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6">
              Vehicle bulk upload
            </h3>
          </li>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="v06/v3/account/bulk-upload/bulk-upload-start" class="govuk-link">Vehicle bulk upload</a>
            </li>
          </ul>
          </ul>
         <!-- <li>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6">
            Vehicle bulk upload
          </h3>
        </li>
          <ul>
          
            <li><a href="beta/v2/account/bulk-upload/bulk-upload-start" class="govuk-link">Vehicle bulk upload</a></li>
          </ul>-->
          </ul>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <hr class="govuk-!-margin-top-9 govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-m">Beta research</h2>
                <th scope="col" class="govuk-table__header">Sprint</th>
                <th scope="col" class="govuk-table__header">No of <br>participants</th>
                <th scope="col" class="govuk-table__header">UR Confidence</th>
                <th scope="col" class="govuk-table__header">Link to research findings</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="v11/create-account/create-start" class="govuk-link">25 - Business Account creation</a></td>
                <td class="govuk-table__cell">??</td>
                <td class="govuk-table__cell">
                  <span class="govuk-tag govuk-tag--yellow">Medium</span>
                <td class="govuk-table__cell">
                  tbc
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="v10/create-account/create-start" class="govuk-link">25 - LRDS Account creation</a></td>
                <td class="govuk-table__cell">??</td>
                <td class="govuk-table__cell">
                  <span class="govuk-tag govuk-tag--yellow">Medium</span>
                <td class="govuk-table__cell">
                  tbc
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="v9/create-account/create-start" class="govuk-link">24 - LRDS Account creation</a></td>
                <td class="govuk-table__cell">??</td>
                <td class="govuk-table__cell">
                  <span class="govuk-tag govuk-tag--yellow">Medium</span>
                <td class="govuk-table__cell">
                  tbc
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="v7/create-account/create-start" class="govuk-link">22</a></td>
                <td class="govuk-table__cell">??</td>
                <td class="govuk-table__cell">
                  <span class="govuk-tag govuk-tag--yellow">Medium</span>
                <td class="govuk-table__cell">
                  tbc
                </td>
              </tr>
            </tbody>
          </table>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <hr class="govuk-!-margin-top-9 govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-m">Alpha research</h2>
                <th scope="col" class="govuk-table__header">Sprint</th>
                <th scope="col" class="govuk-table__header">No of <br>participants</th>
                <th scope="col" class="govuk-table__header">UR Confidence</th>
                <th scope="col" class="govuk-table__header">Link to research findings</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">11</td>
                <td class="govuk-table__cell">4</td>
                <td class="govuk-table__cell">
                  <span class="govuk-tag govuk-tag--yellow">Medium</span>
                <td class="govuk-table__cell">
                  <a href="https://docs.google.com/presentation/d/1h1LhTjfXkoS5G9O2OfW48rPaZY54H48KXF9_rIEhK5Y/edit#slide=id.ge0c95a1ed0_0_130" class="govuk-link rel="noreferrer noopener" target="_blank">Research document
</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">12</td>
                <td class="govuk-table__cell">5</td>
                <td class="govuk-table__cell">
                  <span class="govuk-tag govuk-tag--yellow">Medium</span>
                  <td class="govuk-table__cell">
                    <a href="https://docs.google.com/presentation/d/1XYrMFy0_yr1G7J49WCsii_PAVEEoHPJZFEkUnoNLBNs/edit?usp=sharing" class="govuk-link rel="noreferrer noopener" target="_blank">Research document
    </a>
              </tr>
              <!--<tr class="govuk-table__row">
                <td class="govuk-table__cell">13</td>
                <td class="govuk-table__cell">4</td>
                <td class="govuk-table__cell">
                  <td class="govuk-table__cell">
                    <a class="govuk-link" rel="noreferrer noopener" target="_blank">In progress</a>
              </tr>-->
            </tbody>
          </table>
        </div>
        <!--beta versions start-->
        <div class="govuk-tabs__panel" id="prototype-iterations-beta">
          <h2 class="govuk-heading-l">Prototype iterations - Beta</h2>
          <p class="govuk-body">
            Design iterations created during Beta will be held here. The most recent version should be considered 'in-progress' and as such, may not be stable. For the latest stable version, please referennce the Research tab.

          <p>
            <h2 class="govuk-heading-l">
              <span class="govuk-caption-m">Current sprint</span>
              Sprint 35
            </h2>

            {{ govukButton({
              text: "Start of service (Version 22)",
              href: "v22/start"
            }) }}
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6">
                  2FA
                </h3>
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    <a href="v21/2fa/create-account/2fa-opt-in" class="govuk-link">Account creation</a>
                  </li>
                  <li>
                    <a href="v21/2fa/profile-management/profile" class="govuk-link">profile management</a>
                  </li>
                <li>
                  <a href="v21/2fa/login/login" class="govuk-link">login</a>
                </li>
               
                </ul>
                
              </li>
              <li>
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6">
                  DVLA vehicle validation
                </h3>
                <ul class="govuk-list govuk-list--bullet">
                <li>
                  <a href="v21/vehicle-dvla-check/vehicle-reg" class="govuk-link">Vehicle validation</a>
                </li>
                </ul>
              </li>
              <li> 
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6">
                Error pages
              </h3>
            </li>
              <ul>
            <ul class="govuk-list govuk-list--bullet">
              <li> 
                <a href="v21/error-pages/already-signed-in" class="govuk-link">Already signed in (new)</a>
              </li>
              <li> 
                <a href="v21/error-pages/timeout-account-holder" class="govuk-link">Timeout - account-holder</a>
              </li>
              <li> 
                <a href="v21/error-pages/timeout-non-account-holder" class="govuk-link">Timeout - non-account-holder</a>
              </li>
              <li> 
                <a href="v21/error-pages/logout-account-holder" class="govuk-link">Logout - account-holder</a>
              </li>
              <li> 
                <a href="v21/error-pages/scheduled-maintenance" class="govuk-link">Scheduled maintenance</a>
              </li>
              <li> 
                <a href="v21/error-pages/unexpected-outage" class="govuk-link">Unexpected outage</a>
              </li>
              <li> 
                <a href="v21/error-pages/unreachable-web-page" class="govuk-link">Unreachable web page</a>
              </li>
              <li> 
                <a href="v21/error-pages/about-to-be-signed-out" class="govuk-link">About to be signed out</a>
              </li>
              <li> 
                <a href="v21/error-pages/single-timeout" class="govuk-link">API Timeouts - Single timeout</a>
              </li>
              <!--<li> 
                <a href="v18/error-pages/multiple-timeout" class="govuk-link">API Timeouts - Multiple timeout</a>
              </li>-->
              <li> 
                <a href="v21/error-pages/no-api-response" class="govuk-link">No API response</a>
              </li>
           </ul>
           </ul>

           
            <ul class="govuk-list govuk-list--bullet">
              <li> 
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6">
                Account Summary (LRDS)
              </h3>
            </li>
              <ul>
                <li>
                  <a href="https://miro.com/app/board/uXjVOo__KJA=/" class="govuk-link" target="_blank">Miro board</a>
                </li>
                <li><a href="v21/manage-account/account-summary-prototype-start" class="govuk-link">Account Summary scenarios</a></li>
            </ul>
            </ul>
            </ul>
            <hr>
            
            <h2 class="govuk-heading-l">
              Previous sprints
            </h2>
            {{ govukAccordion({
              id: "previousSprints",
              items: [
              {
                heading: {
                  text: "Sprint 32 and 33"
                },
                content: {
                  html: 
                  "
                 

                    <ul class='govuk-list govuk-list--bullet'>
                      <li>
                        <h3 class='govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6'>
                          2FA
                        </h3>
                        <ul class='govuk-list govuk-list--bullet'>
                          <li>
                            <a href='v20/2fa/create-account/2fa-opt-in' class='govuk-link'>Account creation</a>
                          </li>
                          <li>
                            <a href='v20/2fa/profile-management/profile' class='govuk-link'>profile management</a>
                          </li>
                        <li>
                          <a href='v20/2fa/login/login' class='govuk-link'>login</a>
                        </li>
                       
                        </ul>
                        
                      </li>
                      <li>
                        <h3 class='govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6'>
                          DVLA vehicle validation
                        </h3>
                        <ul class='govuk-list govuk-list--bullet'>
                        <li>
                          <a href='v20/vehicle-dvla-check/vehicle-reg' class='govuk-link>'Vehicle validation</a>
                        </li>
                        </ul>
                      </li>
                      <li> 
                        <h3 class='govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6'>
                        Error pages
                      </h3>
                    </li>
                      <ul>
                    <ul class='govuk-list govuk-list--bullet'>
                      <li> 
                        <a href='v20/error-pages/already-signed-in' class='govuk-link'>Already signed in (new)</a>
                      </li>
                      <li> 
                        <a href='v20/error-pages/timeout-account-holder' class='govuk-link'>Timeout - account-holder</a>
                      </li>
                      <li> 
                        <a href='v20/error-pages/timeout-non-account-holder' class='govuk-link'>Timeout - non-account-holder</a>
                      </li>
                      <li> 
                        <a href='v20/error-pages/logout-account-holder' class='govuk-link'>Logout - account-holder</a>
                      </li>
                      <li> 
                        <a href='v20/error-pages/scheduled-maintenance' class='govuk-link'>Scheduled maintenance</a>
                      </li>
                      <li> 
                        <a href='v20/error-pages/unexpected-outage' class='govuk-link'>Unexpected outage</a>
                      </li>
                      <li> 
                        <a href='v20/error-pages/unreachable-web-page' class='govuk-link'>Unreachable web page</a>
                      </li>
                      <li> 
                        <a href='v20/error-pages/about-to-be-signed-out' class='govuk-link'>About to be signed out</a>
                      </li>
                      <li> 
                        <a href='v20/error-pages/single-timeout' class='govuk-link'>API Timeouts - Single timeout</a>
                      </li>
                      
                      <li> 
                        <a href='v20/error-pages/no-api-response' class='govuk-link'>No API response</a>
                      </li>
                   </ul>
                   </ul>
        
                   
                    <ul class='govuk-list govuk-list--bullet'>
                      <li> 
                        <h3 class='govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6'>
                        Account Summary (LRDS)
                      </h3>
                    </li>
                      <ul>
                        <li>
                          <a href='https://miro.com/app/board/uXjVOo__KJA=/' class='govuk-link' target='_blank'>Miro board</a>
                        </li>
                        <li><a href='v20/manage-account/account-summary-prototype-start' class='govuk-link'>Account Summary scenarios</a></li>
                    </ul>
                    </ul>
                    </ul>
                    
                  "
                }
              },
              {
                heading: {
                  text: "Sprint 30"
                },
                content: {
                  html: 
                  "
                  <p class='govuk-body'>
                    The following sections were worked on during Sprint 28, ready for user research in future sprints
                  <p>

                    <ul class='govuk-list govuk-list--bullet'>
                      <li>
                        <h3 class='govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6'>
                          2FA
                        </h3>
                        <ul class='govuk-list govuk-list--bullet'>
                          <li>
                            <a href='v19/2fa/create-account/2fa-opt-in' class='govuk-link'>Account creation</a>
                          </li>
                          <li>
                            <a href='v19/2fa/profile-management/profile' class='govuk-link'>profile management</a>
                          </li>
                        <li>
                          <a href='v19/2fa/login/login' class='govuk-link'>login</a>
                        </li>
                       
                        </ul>
                        
                      </li>
                      <li>
                        <h3 class='govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6'>
                          DVLA vehicle validation
                        </h3>
                        <ul class='govuk-list govuk-list--bullet'>
                        <li>
                          <a href='v19/vehicle-dvla-check/vehicle-reg' class='govuk-link>'Vehicle validation</a>
                        </li>
                        </ul>
                      </li>
                      <li> 
                        <h3 class='govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6'>
                        Error pages
                      </h3>
                    </li>
                      <ul>
                    <ul class='govuk-list govuk-list--bullet'>
                      <li> 
                        <a href='v19/error-pages/already-signed-in' class='govuk-link'>Already signed in (new)</a>
                      </li>
                      <li> 
                        <a href='v19/error-pages/timeout-account-holder' class='govuk-link'>Timeout - account-holder</a>
                      </li>
                      <li> 
                        <a href='v19/error-pages/timeout-non-account-holder' class='govuk-link'>Timeout - non-account-holder</a>
                      </li>
                      <li> 
                        <a href='v19/error-pages/logout-account-holder' class='govuk-link'>Logout - account-holder</a>
                      </li>
                      <li> 
                        <a href='v19/error-pages/scheduled-maintenance' class='govuk-link'>Scheduled maintenance</a>
                      </li>
                      <li> 
                        <a href='v19/error-pages/unexpected-outage' class='govuk-link'>Unexpected outage</a>
                      </li>
                      <li> 
                        <a href='v19/error-pages/unreachable-web-page' class='govuk-link'>Unreachable web page</a>
                      </li>
                      <li> 
                        <a href='v19/error-pages/about-to-be-signed-out' class='govuk-link'>About to be signed out</a>
                      </li>
                      <li> 
                        <a href='v19/error-pages/single-timeout' class='govuk-link'>API Timeouts - Single timeout</a>
                      </li>
                      
                      <li> 
                        <a href='v19/error-pages/no-api-response' class='govuk-link'>No API response</a>
                      </li>
                   </ul>
                   </ul>
        
                   
                    <ul class='govuk-list govuk-list--bullet'>
                      <li> 
                        <h3 class='govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6'>
                        Account Summary (LRDS)
                      </h3>
                    </li>
                      <ul>
                        <li>
                          <a href='https://miro.com/app/board/uXjVOo__KJA=/' class='govuk-link' target='_blank'>Miro board</a>
                        </li>
                        <li><a href='v19/manage-account/account-summary-prototype-start' class='govuk-link'>Account Summary scenarios</a></li>
                    </ul>
                    </ul>
                    </ul>
                    
                  "
                }
              },
              {
                heading: {
                  text: "Sprint 29"
                },
                content: {
                  html: 
                  "
                  <p class='govuk-body'>
                    The following sections were worked on during Sprint 28, ready for user research in future sprints
                  <p>

                    <ul class='govuk-list govuk-list--bullet'>
                      <li>Account summary function iterated from Alpha designs - ready for UR</li>
                    </ul>
                    <ul class='govuk-list govuk-list--bullet'>
                      <li> 
                        <h3 class='govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6'>
                        Account summary
                      </h3>
                    </li>
                      <ul>
                        <li>
                          <a href='https://miro.com/app/board/uXjVOo__KJA=/' class='govuk-link' target='_blank'>Miro board</a>
                        </li>
                        <li><a href='v16/manage-account/account-summary-prototype-start' class='govuk-link'>Account Summary scenarios</a></li>
                    </ul>
                    </ul>
                    
                  "
                }
              },
              {
                heading: {
                  text: "Sprint 28"
                },
                content: {
                  html: 
                  "
                  <p class='govuk-body'>
                    The following sections were worked on during Sprint 28, ready for user research in future sprints
                  <p>

                    <ul class='govuk-list govuk-list--bullet'>
                      <li>LRDS Account summary was completed and cleared</li>
                      <li>One off payments was worked on - Utilising design created during Alpha and iterated in line with requirements</li>
                    </ul>
                    <ul class='govuk-list govuk-list--bullet'>
                      <li> 
                        <h3 class='govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6'>
                        Account summary
                      </h3>
                    </li>
                      <ul>
                        <li>
                          <a href='https://miro.com/app/board/uXjVOo__KJA=/' class='govuk-link' target='_blank'>Miro board</a>
                        </li>
                        <li><a href='v15/manage-account/account-summary-prototype-start' class='govuk-link'>Account Summary scenarios</a></li>
                    </ul>
                    </ul>
                    
                  "
                }
              },
              {
                heading: {
                  text: "Sprint 27"
                },
                content: {
                  html: 
                  "
                  <p class='govuk-body'>
                    The following sections were worked on during Sprint 27, ready for user research in future sprints
                  <p>

                    <ul class='govuk-list govuk-list--bullet'>
                      <li>LRDS Account summary was completed and cleared</li>
                      <li>One off payments was worked on - Utilising design created during Alpha and iterated in line with requirements</li>
                    </ul>
                    <ul class='govuk-list govuk-list--bullet'>
                      <li> 
                        <h3 class='govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6'>
                        Account summary
                      </h3>
                    </li>
                      <ul>
                        <li>
                          <a href='https://miro.com/app/board/uXjVOo__KJA=/' class='govuk-link' target='_blank'>Miro board</a>
                        </li>
                        <li><a href='v13/manage-account/account-summary-prototype-start' class='govuk-link'>Account Summary scenarios</a></li>
                    </ul>
                    </ul>
                    
                  "
                }
              },
              {
                heading: {
                  text: "Sprint 26"
                },
                content: {
                  html: 
                  "
                  <p class='govuk-body'>
                    The following sections were worked on during Sprint 25, ready for user research in future sprints
                  <p>
                    <ul class='govuk-list govuk-list--bullet'>
                      <li> 
                        <h3 class='govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6'>
                        Account summary
                      </h3>
                    </li>
                      <ul>
                        <li>
                          <a href='https://miro.com/app/board/uXjVOo__KJA=/' class='govuk-link' target='_blank'>Miro board</a>
                        </li>
                        <li><a href='v12/manage-account/account-summary-prototype-start' class='govuk-link'>Account Summary scenarios</a></li>
                    </ul>
                    </ul>
                    
                  "
                }
              },
              {
                heading: {
                  text: "Sprint 25"
                },
                content: {
                  html: 
                  "
                  <p class='govuk-body'>
                    The following sections were worked on during Sprint 25, ready for user research in future sprints
                  <p>
                    <ul class='govuk-list govuk-list--bullet'>
                      <li> 
                        <h3 class='govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6'>
                        Account summary
                      </h3>
                    </li>
                      <ul>
                        <li>
                          <a href='https://miro.com/app/board/uXjVOo__KJA=/' class='govuk-link' target='_blank'>Miro board</a>
                        </li>
                        <li><a href='v11/manage-account/account-summary-prototype-start' class='govuk-link'>Account Summary scenarios</a></li>
                    </ul>
                    </ul>
                    <ul class='govuk-list govuk-list--bullet'>
                      <li> 
                        <h3 class='govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6'>
                        Account creation
                      </h3>
                    </li>
                      <ul>
                        <li>
                          <a href='https://miro.com/app/board/uXjVO5gpAaI=/?moveToWidget=3458764529451202715&cot=14' class='govuk-link' target='_blank'>Miro board</a>
                        </li>
                        <li><a href='v11/start' class='govuk-link'>Amends to user journey for Account creation (personal) based on User findings</a></li>
                    </ul>
                    </ul>
                  "
                }
              },
              {
                heading: {
                  text: "Sprint 24"
                },
                content: {
                  html: 
                  "
                  <p class='govuk-body'>
                    The following sections were worked on during Sprint 24, ready for user research in future sprints
                  <p>
                    <ul class='govuk-list govuk-list--bullet'>
                      <li> 
                        <h3 class='govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6'></h3>
                        Account creation (business and personal iteration from UR)
                      </h3>
                    </li>
                      <ul>
                        <li>
                          <a href='https://miro.com/app/board/uXjVO5gpAaI=/' class='govuk-link' target='_blank'>Miro board</a>
                        </li>
                        <li><a href='v9/start' class='govuk-link'>Create account (from service start page)</a></li>
                    </ul>
                    </ul>
                    <ul class='govuk-list govuk-list--bullet'>
                      <li> 
                        <h3 class='govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6'>
                        Account Summary
                      </h3>
                    </li>
                      <ul>
                        <li>
                          <a href='https://miro.com/app/board/uXjVOqkP0hQ=/' class='govuk-link' target='_blank'>Miro board</a>
                        </li>
                        <li><a href='v9/manage-account/my-profile/profile' class='govuk-link'>Profile management</a></li>
                    </ul>
                    </ul>
                  "
                }
              },
                {
                  heading: {
                    text: "Sprint 23"
                  },
                  content: {
                    html: 
                    "
                    <p class='govuk-body'>
                      The following sections were worked on during Sprint 23, ready for user research in future sprints
                    <p>
                    <ul class='govuk-list govuk-list--bullet'>
                      <li> 
                        <h3 class='govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6'>
                        Account creation (business - Work in progress)
                      </h3>
                    </li>
                      <ul>
                        <li>
                          <a href='https://miro.com/app/board/uXjVO5gpAaI=/' class='govuk-link' target='_blank'>Miro board</a>
                        </li>
                        <li><a href='v7/create-account/create-start' class='govuk-link'>Create account</a></li>
                    </ul>
                    </ul>
                    "
                  }
                },
                {
                  heading: {
                    text: "Sprint 22"
                  },
                  content: {
                    html: 
                    "
                    <p class='govuk-body'>
                      The following sections were worked on during Sprint 22, ready for user research in future sprints
                    <p>
                    <ul class='govuk-list govuk-list--bullet'>
                      <li> 
                        <h3 class='govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6'>
                        Account creation (personal)
                      </h3>
                    </li>
                      <ul>
                        <li>
                          <a href='https://miro.com/app/board/uXjVO5gpAaI=/' class='govuk-link' target='_blank'>Miro board</a>
                        </li>
                        <li><a href='v7/create-account/create-start' class='govuk-link'>Create account</a></li>
                    </ul>
                    </ul>
                    "
                  }
                },
                {
                  heading: {
                    text: "Sprint 11a"
                  },
                  content: {
                    html: 
                    "
                    <p class='govuk-body'>
                      The following sections were worked on during Sprint 11a, ready for User research in future sprints
                    <p>
                    <ul class='govuk-list govuk-list--bullet'>
                      <li> 
                        <h3 class='govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6'>
                        Account summary (previously Dashboard)
                      </h3>
                    </li>
                      <ul>
                        <li>
                          <a href='https://miro.com/app/board/uXjVO980Kvo=/' class='govuk-link' target='_blank'>Miro board</a>
                        </li>
                      <li>
                        <a href='v06/v1/account/account-summary-business-v3' class='govuk-link'>Account summary - Business</a>
                      </li>
                    
                      <li>
                        <a href='v06/v1/account/account-summary-personal-pre-pay' class='govuk-link'>Account summary - Personal Pre pay (Auto top up)</a>
                      </li>
                      <li>
                        <a href='v06/v1/account/account-summary-personal-payg' class='govuk-link'>Account summary - Personal (PayG)</a>
                      </li>
                    </ul>
                    <li>
                      <h3 class='govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-6'>
                      Vehicle bulk upload
                    </h3>
                  </li>
                    <ul>
                      <li>
                        <a href='https://miro.com/app/board/uXjVO7A2VGI=/' class='govuk-link' target='_blank'>Miro board</a>
                      </li>
                      <li><a href='v06/v1/account/bulk-upload/bulk-upload-start' class='govuk-link'>Version 1</a></li>
                      <li><a href='v06/v2/account/bulk-upload/bulk-upload-start' class='govuk-link'>Version 2 - Including feedback and guidance from BA's</a></li>
                      <li><a href='v06/v2/account/bulk-upload/bulk-upload-start-error-states' class='govuk-link'>Bulk upload start page - Error states</a></li>
                      <li><a href='v06/v2/account/bulk-upload/bulk-upload-error-summary-variantb' class='govuk-link'>Error summary - Variant B</a></li>
                      <li><a href='v06/v3/account/bulk-upload/bulk-upload-start' class='govuk-link'>Version 3 - Including feedback from show and tell</a></li>
                    </ul>
                    </ul>
                    "
                  }
                }
              ]
            }) }}


          </div>
          <!--beta versions ends-->
           <!--baselined versions start
        <div class="govuk-tabs__panel" id="prototype-iterations-baselined">
          <h2 class="govuk-heading-l">Prototype iterations - Baselined</h2>
          <p class="govuk-body">
            Only designs that have been signed off and ready for development will exist within this section.
          <p>


           <ul class='govuk-list govuk-list--bullet'>
                      <li> 
                        <h3 class='govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-6'>
                        Account summary <span class="govuk-caption-m">Baselined in Sprint 26 utilising version 12 of the prototype flow</span>
                      </h3>
                    </li>
                      <ul>
                        <li>
                          <a href='https://miro.com/app/board/uXjVO5gpAaI=/?moveToWidget=3458764530320294377&cot=14' class='govuk-link' target='_blank'>Miro board</a>
                        </li>
                        <li><a href='v12/manage-account/account-summary-prototype-start' class='govuk-link'>Account Summary scenarios</a></li>
                    </ul>
                    </ul>

          </div>
         beta versions ends-->
<!--Prototype Iterations-->
        
        <div class="govuk-tabs__panel govuk-tabs__panel" id="prototype-iterations">
          <h2 class="govuk-heading-l">Prototype iterations - Alpha</h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <h2 class="govuk-heading-m">Inputs for prototypes</h2>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Name - Alex Lee</li>
                    <li>vehicle registration - LO62 NRO</li>
                    <li>email address - alex.lee@gmail.com</li>
                    <li>phone no - 0789912345</li>
                    <li>postcode - DA1 1DY</li>
                    <li>address - 3 Bark Road, Dartford, Kent DA1 1DY</li>
                  </ul>
<!--errors -->

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <h2 class="govuk-heading-m">Error messages -WIP</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="unhappy-paths/service/problem">
           Sorry, there is a problem with the service<span class="govuk-visually-hidden">Start</span></a></li>
            <li><a class="govuk-link" href="unhappy-paths/service/problem">
           Page not found<span class="govuk-visually-hidden">Start</span></a></li>
            <li><a class="govuk-link" href="unhappy-paths/service/problem">
           Incorrect password<span class="govuk-visually-hidden">Start</span></a></li>
            <li><a class="govuk-link" href="http://localhost:3000/v05/start">
           Passwords don't match<span class="govuk-visually-hidden">Start</span></a></li>
            <li><a class="govuk-link" href="http://localhost:3000/v05/start">
           Wrong format<span class="govuk-visually-hidden">Start</span></a></li>
            <li><a class="govuk-link" href="http://localhost:3000/v05/start">
           No password entered<span class="govuk-visually-hidden">Start</span></a></li>
          </ul>

<!--v05-->
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Version 05 - Being tested</h2>
    <a href="/v05/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
       View prototype</a>
    <!--V05 summary list-->
       <dl class="govuk-summary-list">
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Error message
           </dt>
           <dd class="govuk-summary-list__key">
             Changes made
           </dd>
         </div>
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__value">
             <a class="govuk-link" href="/v05/start">
            Start<span class="govuk-visually-hidden">Start</span></a>
           </dt>
           <dd class="govuk-summary-list__value">
             Updated content for start page
           </dd>

         </div>
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__value">
             <a class="govuk-link" href="v05/create-account/create-start">
            Create your account <span class="govuk-visually-hidden">Create your account </span>
                 </a>
           </dt>
           <dd class="govuk-summary-list__value">
          Iterations from feedback.<br>Simplifying LRDS application as part of create account flow.</dd>
         </div>
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__value">
             <a class="govuk-link" href="v05/create-account/create-start">
            Create your account <span class="govuk-visually-hidden">Create your account </span>
                 </a>
           </dt>
           <dd class="govuk-summary-list__value">
          Add option to sign up to notifications</dd>
         </div>
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__value">
             <a class="govuk-link" href="v05/create-account/notifications">
            One off payment flow<span class="govuk-visually-hidden">One off payment flow</span>
                 </a>
           </dt>
           <dd class="govuk-summary-list__value">
             Content changes </dd>
         </div>

      <!--   <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__value">
          <a class="govuk-link" href="#">
         Manage account<span class="govuk-visually-hidden">Manage account</span>
              </a>
           </dt>
           <dd class="govuk-summary-list__value">
             <p class="govuk-body">Dashboard copied from previous version with heading</p>
             <p class="govuk-body"></p>
           </dd>-->

       </dl>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

<h2 class="govuk-heading-m">Version 04</h2>
<a href="/v04/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
   View prototype</a>
<!--V04 summary list-->
   <dl class="govuk-summary-list">
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Screen name
       </dt>
       <dd class="govuk-summary-list__key">
         Changes made
       </dd>
     </div>
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__value">
         <a class="govuk-link" href="../v04/start">
        Start<span class="govuk-visually-hidden">Start</span></a>
       </dt>
       <dd class="govuk-summary-list__value">
         Congestion details added
       </dd>

     </div>
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__value">
         <a class="govuk-link" href="v04/create-account/create-start">
        Create your account <span class="govuk-visually-hidden">Create your account </span>
             </a>
       </dt>
       <dd class="govuk-summary-list__value">
         Iteration on full journey using Single Sign on as Design approach.<br><b> Single sign on not live until March 2022.</b>
       </dd>
     </div>

     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__value">
         <a class="govuk-link" href="#">
        One off payment flow<span class="govuk-visually-hidden">One off payment flow</span>
             </a>
       </dt>
       <dd class="govuk-summary-list__value">
         Content changes  </dd>
     </div>

     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__value">
      <a class="govuk-link" href="#">
     Manage account<span class="govuk-visually-hidden">Manage account</span>
          </a>
       </dt>
       <dd class="govuk-summary-list__value">
         <p class="govuk-body">Dashboard copied from previous version with heading</p>
         <p class="govuk-body"></p>
       </dd>

   </dl>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

   <!--v03--><!--
<h2 class="govuk-heading-m">Version 03</h2>
<a href="/v04/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
View prototype</a>
V03 summary list-->
<!--
<dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Screen name
</dt>
<dd class="govuk-summary-list__key">
Changes made
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__value">
<a class="govuk-link" href="http://localhost:3000/v03/start">
Start<span class="govuk-visually-hidden">Start</span></a>
</dt>
<dd class="govuk-summary-list__value">
Congestion details added
</dd>

</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__value">
<a class="govuk-link" href="#">
Name <span class="govuk-visually-hidden">name</span>
</a>
</dt>
<dd class="govuk-summary-list__value">
Description
</dd>

</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__value">
<a class="govuk-link" href="#">
Name <span class="govuk-visually-hidden">Name</span>
</a>
</dt>
<dd class="govuk-summary-list__value">
<p class="govuk-body">Description</p>
<p class="govuk-body"></p>
</dd>
</dl>

<!--v03
<h2 class="govuk-heading-m">Version 02</h2>
<a href="/v04/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
View prototype</a>
<!--V03 summary list

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Screen name
</dt>
<dd class="govuk-summary-list__key">
Changes made
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__value">
<a class="govuk-link" href="http://localhost:3000/v02/start">
Start<span class="govuk-visually-hidden">Start</span></a>
</dt>
<dd class="govuk-summary-list__value">
Congestion details added
</dd>

</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__value">
<a class="govuk-link" href="#">
Name <span class="govuk-visually-hidden">name</span>
</a>
</dt>
<dd class="govuk-summary-list__value">
Description
</dd>

</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__value">
<a class="govuk-link" href="#">
Name <span class="govuk-visually-hidden">Name</span>
</a>
</dt>
<dd class="govuk-summary-list__value">
<p class="govuk-body">Description</p>
<p class="govuk-body"></p>
</dd>
</dl>

v01-
<h2 class="govuk-heading-m">Version 01</h2>
<a href="/v01/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
View prototype</a>
V01 summary list-->


<!--visual-->
<h2 class="govuk-heading-m">Visual Designs</h2>
<div>
  <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="https://www.figma.com/file/UMjLyoKZkjqX0AIPiWObGf/Make-a-one-off-payment_v3">HCL Figma prototype - One Off Payment</a>
  </li>
  <li>
    <a class="govuk-link" href="https://miro.com/app/board/uXjVOanaAa8=/">Hippo - Miro - Alpha Iterations </a>
  </li>
  <li>
    <a class="govuk-link" href="https://www.figma.com/proto/kVnm7SXP3mYmiZLkyDI294/HEDC-SMS-POC?page-id=0%3A1&node-id=0%3A1&viewport=289%2C48%2C0.22&scaling=scale-down&starting-point-node-id=2%3A3413" class="govuk-link rel="noreferrer noopener" target="_blank">Figma Walkthrough Prototype of SMS journey POC</a>
  </li>
  <li>
    <a class="govuk-link" href="#"></a>
  </li>
</ul>
  </div>
    </div>
      </div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <h2 class="govuk-heading-m">Documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>
    </div>
    
  </div>
 

{% endblock %}
