{% extends "layout.html" %}

{% block pageTitle %}
Select your address
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form class="form" action="lrdsSelect" method="post">
       
          <fieldset class="govuk-fieldset">
           <h1 class="govuk-heading-l">
            You qualify for a Dart Charge discount
           </h1>
           <p class="govuk-body">
            Your postcode has been recognised as a valid Local Resident Discount Scheme (LRDS) postcode.
           <p>
            <p class="govuk-body">
              The LRDS offers a significant discount on the crossing charge to local residents who can prove they're eligible. Only one vehicle per resident qualifies for this discount.
            <p>
              
        
          </fieldset>
        
          <button class="govuk-button" data-module="govuk-button">Continue</button>
         
        </form>
      
</div>
</div>




     
    </div>
  </div>

{% endblock %}
