{% extends "layout.html" %}

{% block pageTitle %}
  Check for paid crossings
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
  {% include "includes/back-link.html" %}

{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Check your answers before confirming change of vehicle</h1>

        <h2 class="govuk-heading-m">Vehicle details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Number plate
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['new-vrn']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> Number plate</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Vehicle type
            </dt>
            <dd class="govuk-summary-list__value">
              Car
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> Vehicle type</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Make
            </dt>
            <dd class="govuk-summary-list__value">
              Audi
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> Make</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Model
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">RS4</p>
             
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> Model</span>
              </a>
            </dd>
          </div>
        </dl>

        <div class="govuk-inset-text govuk-!-padding-top-0 govuk-!-margin-bottom-9 govuk-!-margin-top-0 govuk-!-margin-bottom-5">
          <h3 class="govuk-body-xl govuk-!-margin-top-0 govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-!-margin-bottom-0">Crossings remaining</h3>
          <h1 id = "charge" class="govuk-body-xl govuk-!-margin-bottom-0 govuk-!-padding-bottom-0 govuk-!-padding-top-0 govuk-!-margin-top-0">4</h1>
          <p class="govuk-body">
            Credit will expire on 6 Aug 2023
          </p>
        </div>


       

       
        <form action="confirmation-page" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
            Accept and change
          </button>


          <p class="govuk-body">
            <a href="#" class="govuk-link">Cancel change of vehicle</a>
          </p>
        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
