{% extends "layout.html" %}

{% block pageTitle %}
Documents uploaded to prove local residence
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<form id="form" method="post" action="check-answers" novalidate data-validate='validation'>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    

    <h1 class="govuk-heading-l">
      Document uploaded
    </h1>

    {{ govukTable({
      
      firstCellIsHeader: true,
     
      rows: [
        
        [
          {
            text: "Vehicle V5C log book"
          },
          {
            html: 
            "
            <a href='#' class='govuk-link'>V5C.pdf</a> 1.6MB
            "
          }
          ,
          {
            html: 
            "
            <a href='#' class='govuk-link'>Delete</a>
            "
          }
        ]
      ]
    }) }}
    

    
      
      <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}

   <div class="govuk-visually-hidden">
    <p class="govuk-body">
      prototype only - please ignore
    </p>
    {{ govukCheckboxes({
      idPrefix: "v5cstage-checked",
      name: "v5cstage-checked",
      
      items: [
        {
          value: "done",
          text: "done",
          checked: "true"
        }
      ]
    }) }}
   </div>

    </div>
</div>
</div> 
    </div>
  </div>
</form>

<script type="application/json" id="validation">
  { 		  	
    "v5cstage-checked": {
      "presence": {
        "message": "^Select an option or 'Prefer not to say'"
      }
    }
    
  }
</script>
{% endblock %}
