{% extends "layout.html" %}

{% block pageTitle %}
Your vehicle
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
{% if data['account-type'] === 'Personal' %}

<!--content here-->

 {% else %}
<!--content here-->
{% endif %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
        <fieldset class="govuk-fieldset">
          <h1 class="govuk-heading-l">You have outstanding payments</h1>
            <form class="form" method="post" action="vehicle-summary-add-another">

              <p class="govuk-body">
                Your vehicle LO62 NRO made crossings that have not yet been paid for. The cost of these crossings will be added to your total payment.
              </p>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  {{ govukTable({
                    firstCellIsHeader: false,
                     head: [
                       {
                         text: "Crossing date and time"
                       },
                       {
                         text: "Amount"
                       }
                     ],
                     rows: [
                       [
                         {
                           text: "27 Jul at 9:34am"
                         },
                         {
                           text: "£2.50"
                         }
                         ],
                         [
                         {
                           text: "27 Jul at 3:44pm"
                         },
                         {
                           text: "£2.50"
                         }
                         ]
                     ]
                   }) }}
                </div>
              </div>

             


             



       
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      <!--  </div><button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add another vehicle
        </button>-->
      </form>

    </div>
  </div>
{% endblock %}
