{% extends "layout.html" %}

{% block pageTitle %}
How do you want to be notified?
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="2fa-opt-in" method="post">
        
        <div class="govuk-form-group">
         
          {% set confirmHtml %}
          {{ govukCheckboxes({
            idPrefix: "tsNcs",
            name: "tsNcs",
            items: [
              {
                value: "Value",
                html: "See content deck confirming agreement of <a href='#' class='govuk-link'>T's and C's</a> "
              }
            ]
          }) }}
          {% endset -%}

         {{ govukRadios({
          idPrefix: "text-notifications",
          name: "text-notifications",
          fieldset: {
            legend: {
              text: "Would you like to receive communication about your account by text message?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This will be in addition to receiving notifications by email."
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              conditional: {
                html: confirmHtml
              }
            },
            {
              value: "No",
              text: "No"
            }
          ]
         }) }}
           
            </div>
          </fieldset>
       
        {{ govukDetails({
          summaryText: "Phone numbers with Belgium or Hungary country codes",
          text: "If your phone number starts with the country codes of (+32) Belgium or (+36) Hungary, you will not be able to receive text communications about your account. This means you won't receive messages about your account through text."
        }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

    </form>

  </div>
</div>

 


  

{% endblock %}
