{% extends "layout.html" %}

{% block pageTitle %}
Enter the SMS code
{% endblock %}


{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
        
      <h1 class="govuk-heading-l">Type in your password</h1>
       
        <form action="2fa-opt-in" method="post">

            <div class="govuk-form-group govuk-!-margin-top-6 govuk-!-margin-bottom-6">
              {{ govukInput({
                label: {
                    text: "Password"
                },
                id: "password",
                name: "password",
                classes: "govuk-!-width-two-thirds",
                type: "password"
            }) }}

             
          </div>
 

{{ govukButton({
  text: "Continue"
}) }}


      </form>

    </div>
  </div>

{% endblock %}
