{% extends "layout.html" %}

{% block pageTitle %}
Payment successfull
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}

{% endblock %}

{% block content %}


<!--<a href="/home" style="cursor: pointer;" class="govuk-back-link">Home</a>-->
<div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-top-0">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Vehicle exempt
            </h1>
        </div>
        <p class="govuk-body">
            <b>Time and date</b><br>4:52pm on 4 Feb 2023
        </p>
        <p class="govuk-body">
            <b>Vehicle Registration (number plate)</b><br>{{data['vrn']}}
        </p>
    </div>
</div>

</div>


{% endblock %}
