{% extends "layout.html" %}

{% block pageTitle %}
Payment successfull
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}

{% endblock %}

{% block content %}


<!--<a href="/home" style="cursor: pointer;" class="govuk-back-link">Home</a>-->
<div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-top-0">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Vehicle exempt
            </h1>
        </div>
        <p class="govuk-body">
            <b>Time and date</b><br>4:52pm on 4 Feb 2023
        </p>
        <p class="govuk-body">
            <b>Vehicle Registration (number plate)</b><br>{{data['vrn']}}
        </p>
    </div>
</div>
<div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-margin-top-0">
    <div class="govuk-grid-column-two-thirds"><br>
        <h3 class = "govuk-heading-m">Create a Dart Charge account</h3>
        <p class = "govuk-body">If you make regular crossings, you might benefit from <a href ="../create-account/create-start">creating an account</a>. Payments for crossings are then taken automatically. With a pre-pay account you’ll also get a discount of up to 20% on all crossings.</p>
        <p>If you live in Dartford or Thurrock you may qualify for the  <a href =#>local resident discount</a>.</p>
        </div>
    </div>
</div>


{% endblock %}
