{% extends "layout.html" %}

{% block pageTitle %}
Your vehicle
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
{% if data['account-type'] === 'Personal' %}

<!--content here-->

 {% else %}
<!--content here-->
{% endif %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
        <fieldset class="govuk-fieldset">
          <h1 class="govuk-heading-l">We need more information about your vehicle</h1>


            <form class="form" method="post" action="previous-journeys">

              <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">


                    {{ govukInput({
                      id: "number-plate",
                      name: "number-plate",
                      label: {
                        text: "Number plate"
                      },
                      
                      value: "LO62 NRO"
                    }) }}

                    {{ govukSelect({
                      id: "vehicle-type",
                      name: "vehicle-type",
                      label: {
                        text: "Vehicle type"
                      },
                      
                      items: [
                      {
                        value: "Value",
                        text: "Select vehicle type"
                      },
                      {
                        value: "Value",
                        text: "Motorcycle, moped or quad bike"
                      },
                        {
                          value: "Value",
                          text: "Car or van"
                        },
                        {
                          value: "Value",
                          text: "Bus, coach or other goods vehicles with 2 axles"
                        },
                        {
                          value: "Value",
                          text: "Vehicle with more than 2 axles"
                        }
                      ]
                    }) }}


                    

                    {{ govukInput({
                      id: "vehicle-make",
                      name: "vehicle-make",
                      label: {
                        text: "Make"
                      }
                    }) }}
                    
                    {{ govukInput({
                      id: "vehicle-make",
                      name: "vehicle-make",
                      label: {
                        text: "Model"
                      }
                    }) }}
                   
                    {{ govukInput({
                      id: "vehicle-make",
                      name: "vehicle-make",
                      label: {
                        text: "Colour"
                      }
                    }) }}
                  


                    
                     
             
                      </div>
                  </div>




                  {{ govukCheckboxes({
                    idPrefix: "vrm-confirmation",
                    name: "vrm-confirmation",
                    
                    items: [
                      {
                        value: "Value",
                        text: "I confirm that the vehicle information provided is correct"
                      }
                    ]
                  }) }}
       
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      <!--  </div><button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add another vehicle
        </button>-->
      </form>

    </div>
  </div>
{% endblock %}
